Repository AliceO2Group/QualityControl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Barthelemy, @knopers8, @njacazio, @mfasDa, @wiechula

FIT: fixes in postprocessing (#931)
  Modules/FT0/include/FT0/BasicPPTask.h
  Modules/FT0/include/FT0/DigitQcTask.h
  Modules/FT0/include/FT0/OutOfBunchCollTask.h
  Modules/FT0/src/BasicPPTask.cxx
  Modules/FT0/src/DigitQcTask.cxx
  Modules/FT0/src/OutOfBunchCollCheck.cxx
  Modules/FT0/src/OutOfBunchCollTask.cxx
  Modules/FV0/include/FV0/BasicPPTask.h
  Modules/FV0/include/FV0/DigitQcTask.h
  Modules/FV0/include/FV0/OutOfBunchCollTask.h
  Modules/FV0/src/BasicPPTask.cxx
  Modules/FV0/src/DigitQcTask.cxx
  Modules/FV0/src/OutOfBunchCollCheck.cxx
  Modules/FV0/src/OutOfBunchCollTask.cxx
Owners: @Barthelemy, @knopers8

Formatting fix
  Modules/HMPID/src/HmpidTask.cxx
Owners: @Barthelemy, @knopers8

Tprofile2 (#928)
  Modules/HMPID/include/HMPID/HmpidTask.h
  Modules/HMPID/src/HmpidTask.cxx
Owners: @Barthelemy, @knopers8

[QC-685] Avoid input name clashes if task names are similar or too long (#930)
  Framework/include/QualityControl/TaskRunner.h
  Framework/src/TaskRunner.cxx
  Framework/src/TaskRunnerFactory.cxx
Owners: @Barthelemy, @knopers8

1.36.0
  CMakeLists.txt
Owners: @Barthelemy, @knopers8

[QC-650] Correct path to config file in consul
  Framework/script/RepoCleaner/o2-qc-repo-cleaner
Owners: @Barthelemy, @knopers8

[QC-650] Correct path to config file in consul (#933)
  Framework/script/RepoCleaner/o2-qc-repo-cleaner
Owners: @Barthelemy, @knopers8

Fix metadata: add->addOrUpdate
  Modules/FT0/src/OutOfBunchCollTask.cxx
  Modules/FV0/src/OutOfBunchCollTask.cxx
Owners: @Barthelemy, @knopers8

Decrease verbosity in TriggerQcTask
  Modules/FT0/src/TriggerQcTask.cxx
  Modules/FV0/src/TriggerQcTask.cxx
Owners: @Barthelemy, @knopers8

[FIT] Fix metadata: add->addOrUpdate (#934)
  Modules/FT0/src/OutOfBunchCollTask.cxx
  Modules/FT0/src/TriggerQcTask.cxx
  Modules/FV0/src/OutOfBunchCollTask.cxx
  Modules/FV0/src/TriggerQcTask.cxx
Owners: @Barthelemy, @knopers8

Trending of the laser calibration from the QCG
  Modules/TPC/CMakeLists.txt
  Modules/TPC/include/TPC/LinkDef.h
  Modules/TPC/include/TPC/LtrCalibReductor.h
  Modules/TPC/run/tpcQCTrending_laserCalib.json
  Modules/TPC/src/LtrCalibReductor.cxx
Owners: @wiechula

Clang-formatting of the laser calibration trending
  Modules/TPC/include/TPC/LtrCalibReductor.h
  Modules/TPC/src/LtrCalibReductor.cxx
Owners: @wiechula

Update CMakeLists.txt
  Modules/CMakeLists.txt
Owners: @Barthelemy, @knopers8

Fixes for the modules
  Modules/EMCAL/src/RawCheck.cxx
  Modules/EMCAL/src/RawTask.cxx
  Modules/PHOS/src/CalibQcTask.cxx
  Modules/PHOS/src/ClusterQcTask.cxx
  Modules/PHOS/src/RawQcTask.cxx
Owners: @mfasDa, @Barthelemy, @knopers8

QC-491 Use Dpl infologger if available
  Framework/include/QualityControl/QcInfoLogger.h
  Framework/src/AggregatorRunner.cxx
  Framework/src/CheckRunner.cxx
  Framework/src/DatabaseFactory.cxx
  Framework/src/PostProcessingDevice.cxx
  Framework/src/PostProcessingRunner.cxx
  Framework/src/QcInfoLogger.cxx
  Framework/src/RepositoryBenchmark.cxx
  Framework/src/TaskRunner.cxx
  Framework/src/runAdvanced.cxx
  Framework/src/runBasic.cxx
  Framework/src/runPostProcessing.cxx
  Framework/src/runPostProcessingOCC.cxx
  Framework/src/runQC.cxx
  Framework/test/testQcInfoLogger.cxx
  Modules/EMCAL/src/DigitsQcTask.cxx
  Modules/EMCAL/src/RawCheck.cxx
  Modules/EMCAL/src/RawTask.cxx
  Modules/ITS/src/ITSNoisyPixelTask.cxx
  Modules/ITS/src/runITS.cxx
  Modules/MUON/MID/src/runMID.cxx
Owners: @Barthelemy, @knopers8, @mfasDa

format
  Framework/include/QualityControl/QcInfoLogger.h
  Framework/src/CheckRunner.cxx
  Framework/src/DatabaseFactory.cxx
  Framework/src/QcInfoLogger.cxx
  Framework/src/RepositoryBenchmark.cxx
  Framework/src/TaskRunner.cxx
  Modules/CMakeLists.txt
  Modules/ITS/src/ITSNoisyPixelTask.cxx
  Modules/ITS/src/runITS.cxx
  Modules/MUON/MID/src/runMID.cxx
Owners: @Barthelemy, @knopers8

fix the new ITS code
  Modules/ITS/src/ITSClusterTask.cxx
  Modules/ITS/src/ITSTrackTask.cxx
Owners: @Barthelemy, @knopers8

Set consul url to empty
  Modules/TPC/run/tpcQCTrending_laserCalib.json
Owners: @wiechula

Revert changes in comment
  Modules/Common/include/Common/TH1Reductor.h
Owners: @Barthelemy, @knopers8

[QC-681] Use dpl infologger (#932)
  Framework/include/QualityControl/QcInfoLogger.h
  Framework/src/AggregatorRunner.cxx
  Framework/src/CheckRunner.cxx
  Framework/src/DatabaseFactory.cxx
  Framework/src/PostProcessingDevice.cxx
  Framework/src/PostProcessingRunner.cxx
  Framework/src/QcInfoLogger.cxx
  Framework/src/RepositoryBenchmark.cxx
  Framework/src/TaskRunner.cxx
  Framework/src/runAdvanced.cxx
  Framework/src/runBasic.cxx
  Framework/src/runPostProcessing.cxx
  Framework/src/runPostProcessingOCC.cxx
  Framework/src/runQC.cxx
  Framework/test/testQcInfoLogger.cxx
  Modules/EMCAL/src/DigitsQcTask.cxx
  Modules/EMCAL/src/RawCheck.cxx
  Modules/EMCAL/src/RawTask.cxx
  Modules/ITS/src/ITSClusterTask.cxx
  Modules/ITS/src/ITSNoisyPixelTask.cxx
  Modules/ITS/src/ITSTrackTask.cxx
  Modules/ITS/src/runITS.cxx
  Modules/MUON/MID/src/runMID.cxx
  Modules/PHOS/src/CalibQcTask.cxx
  Modules/PHOS/src/ClusterQcTask.cxx
  Modules/PHOS/src/RawQcTask.cxx
Owners: @Barthelemy, @knopers8, @mfasDa

QC-692 Set the log level earlier
  Framework/include/QualityControl/QcInfoLogger.h
  Framework/src/runQC.cxx
Owners: @Barthelemy, @knopers8

format
  Framework/src/runQC.cxx
Owners: @Barthelemy, @knopers8

Update runQC.cxx
  Framework/src/runQC.cxx
Owners: @Barthelemy, @knopers8

Cycle must be 10 seconds minimum
  Framework/basic.json
  Framework/src/InfrastructureSpecReader.cxx
  doc/Advanced.md
  doc/QuickStart.md
Owners: @Barthelemy, @knopers8

Modules/GLO/src/ITSTPCMatchingTask.cxx
  Modules/GLO/src/ITSTPCMatchingTask.cxx
Owners: @Barthelemy, @knopers8

Trend laser calibration from QCG (#926)
  Modules/TPC/CMakeLists.txt
  Modules/TPC/include/TPC/LinkDef.h
  Modules/TPC/include/TPC/LtrCalibReductor.h
  Modules/TPC/run/tpcQCTrending_laserCalib.json
  Modules/TPC/src/LtrCalibReductor.cxx
Owners: @wiechula

[QC-692] Set the log level earlier (#936)
  Framework/include/QualityControl/QcInfoLogger.h
  Framework/src/runQC.cxx
Owners: @Barthelemy, @knopers8

do not store the timestamp in case of a dry run
  Framework/script/RepoCleaner/o2-qc-repo-cleaner
Owners: @Barthelemy, @knopers8

properly count preserved and deleted items in 1_per_hour
  Framework/script/RepoCleaner/rules/1_per_hour.py
Owners: @Barthelemy, @knopers8

Move validation to TaskRunnerFactory
  Framework/src/InfrastructureSpecReader.cxx
  Framework/src/TaskRunnerFactory.cxx
Owners: @Barthelemy, @knopers8

format
  Framework/src/TaskRunnerFactory.cxx
Owners: @Barthelemy, @knopers8

[QC-660] An executable to merge QC files (local and alien)
  Framework/CMakeLists.txt
  Framework/src/runFileMerger.cxx
Owners: @Barthelemy, @knopers8

Cycle must be 10 seconds minimum (#937)
  Framework/basic.json
  Framework/src/InfrastructureSpecReader.cxx
  Framework/src/TaskRunnerFactory.cxx
  doc/Advanced.md
  doc/QuickStart.md
Owners: @Barthelemy, @knopers8

[QC-660] An executable to merge QC files (local and alien) (#940)
  Framework/CMakeLists.txt
  Framework/src/runFileMerger.cxx
Owners: @Barthelemy, @knopers8

Small fixes for repocleaner (#939)
  Framework/script/RepoCleaner/o2-qc-repo-cleaner
  Framework/script/RepoCleaner/rules/1_per_hour.py
Owners: @Barthelemy, @knopers8

1.37.0
  CMakeLists.txt
Owners: @Barthelemy, @knopers8

Let user decide if file-merger should exit on one invalid input
  Framework/src/runFileMerger.cxx
Owners: @Barthelemy, @knopers8

Fixed division by 0 in occupancy plots
  Modules/ITS/src/ITSClusterTask.cxx
Owners: @Barthelemy, @knopers8

Clang update
  Modules/ITS/src/ITSClusterTask.cxx
Owners: @Barthelemy, @knopers8

Clang update v2
  Modules/ITS/src/ITSClusterTask.cxx
Owners: @Barthelemy, @knopers8

.github/CODEOWNERS:

# Global access
*       @Barthelemy @knopers8

# Detectors
/Modules/TOF/      @njacazio
/Modules/EMCAL/    @mfasDa
/Modules/TPC/      @wiechula
