Repository AliceO2Group/QualityControl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Barthelemy, @knopers8, @njacazio, @mfasDa, @jokonig, @wiechula, @tomas-herman, @iravasen, @IsakovAD

.github/CODEOWNERS:

# Global access
*       @Barthelemy @knopers8

# Detectors
/Modules/TOF/      @njacazio
/Modules/EMCAL/    @mfasDa @jokonig
/Modules/TPC/      @wiechula
/Modules/MFT/      @tomas-herman
/Modules/ITS/      @iravasen @IsakovAD

[EMCAL-792] Fix reset of all errors and histo for unknown type (#1513)
  Modules/EMCAL/include/EMCAL/RawErrorTask.h
  Modules/EMCAL/src/RawErrorTask.cxx
Owners: @mfasDa, @jokonig

format
  Framework/src/runBasic.cxx
Owners: @Barthelemy, @knopers8

Split vtx and itstpc_matching json (#1515)
  Modules/GLO/glo-itstpc-mtch-qcmn-epn.json
  Modules/GLO/glo-vtx-qcmn-epn.json
Owners: @Barthelemy, @knopers8

Add BC distr. for each trg in PP
  Modules/FDD/include/FDD/PostProcTask.h
  Modules/FDD/src/PostProcTask.cxx
  Modules/FT0/include/FT0/PostProcTask.h
  Modules/FT0/src/PostProcTask.cxx
  Modules/FV0/include/FV0/PostProcTask.h
  Modules/FV0/src/PostProcTask.cxx
Owners: @Barthelemy, @knopers8

PHS: fix for TH2SBitmask::merge() (#1517)
  Modules/PHOS/src/TH2SBitmask.cxx
Owners: @Barthelemy, @knopers8

Add debug logs for destructors
  Framework/include/QualityControl/TaskRunner.h
  Framework/src/AggregatorRunner.cxx
  Framework/src/CheckRunner.cxx
  Framework/src/ObjectsManager.cxx
  Framework/src/ServiceDiscovery.cxx
  Framework/src/TaskRunner.cxx
Owners: @Barthelemy, @knopers8

More work to merge the multithreading PR in O2
  Framework/src/AggregatorRunner.cxx
  Framework/src/CheckRunner.cxx
  Framework/src/PostProcessingDevice.cxx
  Framework/src/TaskRunner.cxx
Owners: @Barthelemy, @knopers8

[QC-878] Make sure that Service Discovery quits immediately
  Framework/src/ServiceDiscovery.cxx
Owners: @Barthelemy, @knopers8

Clean up namespace
  Framework/src/ServiceDiscovery.cxx
Owners: @Barthelemy, @knopers8

remove unused socket
  Framework/src/ServiceDiscovery.cxx
Owners: @Barthelemy, @knopers8

set all namespaces in begining
  Framework/src/ServiceDiscovery.cxx
Owners: @Barthelemy, @knopers8

[EMCAL-524, EMCAL-526] Fix missing histogram reset in RawTask and CellTask
  Modules/EMCAL/include/EMCAL/RawTask.h
  Modules/EMCAL/src/CellTask.cxx
  Modules/EMCAL/src/RawTask.cxx
Owners: @mfasDa, @jokonig

More work to merge the multithreading PR in O2 (#1519)
  Framework/src/AggregatorRunner.cxx
  Framework/src/CheckRunner.cxx
  Framework/src/PostProcessingDevice.cxx
  Framework/src/TaskRunner.cxx
Owners: @Barthelemy, @knopers8

Add debug logs for destructors (#1518)
  Framework/include/QualityControl/TaskRunner.h
  Framework/src/AggregatorRunner.cxx
  Framework/src/CheckRunner.cxx
  Framework/src/ObjectsManager.cxx
  Framework/src/ServiceDiscovery.cxx
  Framework/src/TaskRunner.cxx
Owners: @Barthelemy, @knopers8

[QC-880] missing QUALITYCONTROL_ROOT must raise proper exception (#1516)
  Framework/src/runBasic.cxx
Owners: @Barthelemy, @knopers8

More work to merge the multithreading PR in O2 (#1519)
  Framework/src/AggregatorRunner.cxx
  Framework/src/CheckRunner.cxx
  Framework/src/PostProcessingDevice.cxx
  Framework/src/TaskRunner.cxx
Owners: @Barthelemy, @knopers8

v1.79.1
  CMakeLists.txt
Owners: @Barthelemy, @knopers8

[QC-878] Make sure Service Discovery quits immediately (#1520)
  Framework/src/ServiceDiscovery.cxx
Owners: @Barthelemy, @knopers8

MFT: Adding readout info summary per zone
  Modules/MFT/include/MFT/QcMFTReadoutTask.h
  Modules/MFT/qc-mft-readout.json
  Modules/MFT/src/QcMFTReadoutCheck.cxx
  Modules/MFT/src/QcMFTReadoutTask.cxx
Owners: @tomas-herman

clang
  Modules/MFT/src/QcMFTReadoutTask.cxx
Owners: @tomas-herman

Fix TOF hits vs crate object
  Modules/TOF/include/TOF/TaskDigits.h
  Modules/TOF/src/TaskDigits.cxx
Owners: @njacazio

Update CFDEffCheck - use deadChannelMap from CCDB
  Modules/FDD/include/FDD/CFDEffCheck.h
  Modules/FDD/src/CFDEffCheck.cxx
  Modules/FT0/include/FT0/CFDEffCheck.h
  Modules/FT0/src/CFDEffCheck.cxx
  Modules/FV0/include/FV0/CFDEffCheck.h
  Modules/FV0/src/CFDEffCheck.cxx
Owners: @Barthelemy, @knopers8

Fix TOF hits vs crate object (#1523)
  Modules/TOF/include/TOF/TaskDigits.h
  Modules/TOF/src/TaskDigits.cxx
Owners: @njacazio

[EMCAL-524] 1Dhistos for Calibrated Ampl, Cell added
  Modules/EMCAL/include/EMCAL/CellTask.h
  Modules/EMCAL/src/CellTask.cxx
Owners: @mfasDa, @jokonig

MRRTF-202: QC for matched muon tracks (#1505)
  Modules/MUON/Common/CMakeLists.txt
  Modules/MUON/Common/etc/qc-tracks-mchmid.json
  Modules/MUON/Common/etc/qc-tracks-mftmch.json
  Modules/MUON/Common/etc/qc-tracks-mftmchmid.json
  Modules/MUON/Common/include/MUONCommon/HistPlotter.h
  Modules/MUON/Common/include/MUONCommon/MuonTrack.h
  Modules/MUON/Common/include/MUONCommon/TrackPlotter.h
  Modules/MUON/Common/include/MUONCommon/TracksTask.h
  Modules/MUON/Common/src/HistPlotter.cxx
  Modules/MUON/Common/src/MuonTrack.cxx
  Modules/MUON/Common/src/TrackPlotter.cxx
  Modules/MUON/Common/src/TracksTask.cxx
Owners: @Barthelemy, @knopers8

[EMCAL-524] 1Dhistos for Calibrated Ampl, Cell added
  Modules/EMCAL/include/EMCAL/CellTask.h
  Modules/EMCAL/src/CellTask.cxx
Owners: @mfasDa, @jokonig

Add more plots to GLO QC (#1509)
  Modules/GLO/src/ITSTPCMatchingTask.cxx
Owners: @Barthelemy, @knopers8

cmake: remove usage of deprecated BASENAME parameter (#1498)
  Framework/CMakeLists.txt
  Modules/Benchmark/CMakeLists.txt
  Modules/CPV/CMakeLists.txt
  Modules/CTP/CMakeLists.txt
  Modules/Common/CMakeLists.txt
  Modules/Daq/CMakeLists.txt
  Modules/EMCAL/CMakeLists.txt
  Modules/Example/CMakeLists.txt
  Modules/FDD/CMakeLists.txt
  Modules/FT0/CMakeLists.txt
  Modules/FV0/CMakeLists.txt
  Modules/GLO/CMakeLists.txt
  Modules/HMPID/CMakeLists.txt
  Modules/ITS/CMakeLists.txt
  Modules/MFT/CMakeLists.txt
  Modules/MUON/MID/CMakeLists.txt
  Modules/PHOS/CMakeLists.txt
  Modules/PID/CMakeLists.txt
  Modules/Skeleton/CMakeLists.txt
  Modules/TOF/CMakeLists.txt
  Modules/TPC/CMakeLists.txt
  Modules/TRD/CMakeLists.txt
  Modules/ZDC/CMakeLists.txt
Owners: @Barthelemy, @knopers8, @mfasDa, @jokonig, @iravasen, @IsakovAD, @tomas-herman, @njacazio, @wiechula

[EMCAL-524, EMCAL-526] Fix missing histogram reset in RawTask and CellTask (#1521)
  Modules/EMCAL/include/EMCAL/RawTask.h
  Modules/EMCAL/src/CellTask.cxx
  Modules/EMCAL/src/RawTask.cxx
Owners: @mfasDa, @jokonig

1.80.0
  CMakeLists.txt
Owners: @Barthelemy, @knopers8

Update DevelopersTips.md
  doc/DevelopersTips.md
Owners: @Barthelemy, @knopers8

[QC-882] Add missing parameter to avoid debug messages on epn
  Framework/src/QcInfoLogger.cxx
Owners: @Barthelemy, @knopers8

[QC-882] Add option to suffix the log file name
  Framework/src/runQC.cxx
  doc/Advanced.md
Owners: @Barthelemy, @knopers8

format
  Framework/src/runQC.cxx
Owners: @Barthelemy, @knopers8

proper option
  Framework/src/runQC.cxx
Owners: @Barthelemy, @knopers8

remove cout
  Framework/src/runQC.cxx
Owners: @Barthelemy, @knopers8

trying to match tracks
  Modules/TRD/include/TRD/PulseHeightPerChamber.h
  Modules/TRD/src/PulseHeightPerChamber.cxx
Owners: @Barthelemy, @knopers8

MCH: use MCHConstants lib from O2
  Modules/MUON/MCH/CMakeLists.txt
  Modules/MUON/MCH/include/MCH/MergeableTH1MPVPerDECycle.h
  Modules/MUON/MCH/include/MCH/MergeableTH1PseudoEfficiencyPerDE.h
  Modules/MUON/MCH/include/MCH/MergeableTH1PseudoEfficiencyPerDECycle.h
  Modules/MUON/MCH/src/PedestalsTask.cxx
  Modules/MUON/MCH/src/PhysicsTaskDigits.cxx
  Modules/MUON/MCH/src/PhysicsTaskPreclusters.cxx
  Modules/MUON/MCH/src/TrendingFECHistRatio.cxx
Owners: @Barthelemy, @knopers8

Add missing headers
  Framework/include/QualityControl/ValidityInterval.h
Owners: @Barthelemy, @knopers8

Add missing headers (#1531)
  Framework/include/QualityControl/ValidityInterval.h
Owners: @Barthelemy, @knopers8
