Repository AliceO2Group/QualityControl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Barthelemy, @knopers8, @njacazio, @mfasDa, @jokonig, @wiechula, @tomas-herman, @iravasen, @IsakovAD

.github/CODEOWNERS:

# Global access
*       @Barthelemy @knopers8

# Detectors
/Modules/TOF/      @njacazio
/Modules/EMCAL/    @mfasDa @jokonig
/Modules/TPC/      @wiechula
/Modules/MFT/      @tomas-herman
/Modules/ITS/      @iravasen @IsakovAD

[FOCAL] Add pixel histograms
  Modules/FOCAL/CMakeLists.txt
  Modules/FOCAL/include/FOCAL/LaneData.h
  Modules/FOCAL/include/FOCAL/LinkDef.h
  Modules/FOCAL/include/FOCAL/PixelChip.h
  Modules/FOCAL/include/FOCAL/PixelDecoder.h
  Modules/FOCAL/include/FOCAL/PixelHit.h
  Modules/FOCAL/include/FOCAL/PixelWords.h
  Modules/FOCAL/include/FOCAL/TestbeamRawTask.h
  Modules/FOCAL/src/LaneData.cxx
  Modules/FOCAL/src/PixelChip.cxx
  Modules/FOCAL/src/PixelDecoder.cxx
  Modules/FOCAL/src/PixelHit.cxx
  Modules/FOCAL/src/TestbeamRawTask.cxx
Owners: @Barthelemy, @knopers8

Fixed reading of parameters from .json, all default parameters were set, fixed error message in case of absence of geom file in CCDB
  Modules/ITS/CMakeLists.txt
  Modules/ITS/include/ITS/ITSClusterCheck.h
  Modules/ITS/include/ITS/ITSClusterTask.h
  Modules/ITS/include/ITS/ITSFeeCheck.h
  Modules/ITS/include/ITS/ITSFeeTask.h
  Modules/ITS/include/ITS/ITSFhrCheck.h
  Modules/ITS/include/ITS/ITSFhrTask.h
  Modules/ITS/include/ITS/ITSNoisyPixelTask.h
  Modules/ITS/include/ITS/ITSTrackTask.h
  Modules/ITS/itsCluster.json
  Modules/ITS/itsNoisyPixel.json
  Modules/ITS/itsTrack.json
  Modules/ITS/src/ITSClusterCheck.cxx
  Modules/ITS/src/ITSClusterTask.cxx
  Modules/ITS/src/ITSFeeCheck.cxx
  Modules/ITS/src/ITSFeeTask.cxx
  Modules/ITS/src/ITSFhrCheck.cxx
  Modules/ITS/src/ITSFhrTask.cxx
  Modules/ITS/src/ITSNoisyPixelTask.cxx
  Modules/ITS/src/ITSTrackTask.cxx
Owners: @iravasen, @IsakovAD

Clang fixes
  Modules/ITS/src/ITSNoisyPixelTask.cxx
Owners: @iravasen, @IsakovAD

[EMCAL-833] Reductors for trending at cell level
  Modules/EMCAL/CMakeLists.txt
  Modules/EMCAL/include/EMCAL/LinkDef.h
  Modules/EMCAL/include/EMCAL/OccupancyReductor.h
  Modules/EMCAL/include/EMCAL/SubdetectorProjectionReductor.h
  Modules/EMCAL/include/EMCAL/SupermoduleProjectionReductor.h
  Modules/EMCAL/src/OccupancyReductor.cxx
  Modules/EMCAL/src/SubdetectorProjectionReductor.cxx
  Modules/EMCAL/src/SupermoduleProjectionReductor.cxx
Owners: @mfasDa, @jokonig

CPV: add async mode to physics task (#1541)
  Modules/CPV/include/CPV/PhysicsTask.h
  Modules/CPV/src/PhysicsTask.cxx
Owners: @Barthelemy, @knopers8

[FOCAL] Add pixel histograms (#1544)
  Modules/FOCAL/CMakeLists.txt
  Modules/FOCAL/include/FOCAL/LaneData.h
  Modules/FOCAL/include/FOCAL/LinkDef.h
  Modules/FOCAL/include/FOCAL/PixelChip.h
  Modules/FOCAL/include/FOCAL/PixelDecoder.h
  Modules/FOCAL/include/FOCAL/PixelHit.h
  Modules/FOCAL/include/FOCAL/PixelWords.h
  Modules/FOCAL/include/FOCAL/TestbeamRawTask.h
  Modules/FOCAL/src/LaneData.cxx
  Modules/FOCAL/src/PixelChip.cxx
  Modules/FOCAL/src/PixelDecoder.cxx
  Modules/FOCAL/src/PixelHit.cxx
  Modules/FOCAL/src/TestbeamRawTask.cxx
Owners: @Barthelemy, @knopers8

changes in ranges of histograms (#1547)
  Modules/TRD/src/DigitsTask.cxx
  Modules/TRD/src/TrackletsTask.cxx
Owners: @Barthelemy, @knopers8

MCH: added FEC synchronization diagnostics (#1495)
  Modules/MUON/MCH/include/MCH/DecodingErrorsTask.h
  Modules/MUON/MCH/src/DecodingErrorsCheck.cxx
  Modules/MUON/MCH/src/DecodingErrorsTask.cxx
Owners: @Barthelemy, @knopers8

fixed bug with PP task crash for empty CCDB object
  Modules/ITS/src/TrendingTaskITSCluster.cxx
  Modules/ITS/src/TrendingTaskITSFEE.cxx
  Modules/ITS/src/TrendingTaskITSFhr.cxx
  Modules/ITS/src/TrendingTaskITSThr.cxx
  Modules/ITS/src/TrendingTaskITSTracks.cxx
Owners: @iravasen, @IsakovAD

[EMCAL-524] Add counters for good/bad cells
  Modules/EMCAL/include/EMCAL/CellTask.h
  Modules/EMCAL/src/CellTask.cxx
Owners: @mfasDa, @jokonig
