Repository AliceO2Group/QualityControl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Barthelemy, @knopers8, @njacazio, @mfasDa, @jokonig, @wiechula, @diana0x0f, @iravasen, @IsakovAD, @martenole, @bazinski, @fjonasALICE, @andreasmolander, @afurs, @jotwinow

.github/CODEOWNERS:

# Global access
*       @Barthelemy @knopers8

# Detectors
/Modules/TOF/      @njacazio
/Modules/PID/      @njacazio
/Modules/EMCAL/    @mfasDa @jokonig @Barthelemy @knopers8
/Modules/TPC/      @wiechula
/Modules/MFT/      @diana0x0f
/Modules/ITS/      @iravasen @IsakovAD
/Modules/TRD/      @martenole @bazinski
/Modules/FOCAL/    @mfasDa @fjonasALICE
/Modules/FIT/      @andreasmolander @afurs @jotwinow

Fix bug when deleting objects (#2163)
  Modules/HMPID/src/HmpidTaskClusters.cxx
Owners: @Barthelemy, @knopers8

v1.126.7
  CMakeLists.txt
Owners: @Barthelemy, @knopers8

Fix bug when deleting objects (#2163)
  Modules/HMPID/src/HmpidTaskClusters.cxx
Owners: @Barthelemy, @knopers8

Use lightweight its::GeometryTGeo instead of full geometry
  Modules/ITS/itsCluster.json
  Modules/ITS/itsFhr.json
  Modules/ITS/itsQCQualitySummary.json
  Modules/ITS/src/ITSClusterTask.cxx
  Modules/ITS/src/ITSFhrTask.cxx
Owners: @iravasen, @IsakovAD

Use lightweight mft::GeometryTGeo instead of full geometry
  Modules/ITS/itsQCQualitySummary.json
  Modules/MFT/include/MFT/QcMFTClusterTask.h
  Modules/MFT/include/MFT/QcMFTTrackTask.h
  Modules/MFT/mft-clusters.json
  Modules/MFT/mft-tracks.json
  Modules/MFT/src/QcMFTClusterTask.cxx
  Modules/MFT/src/QcMFTTrackTask.cxx
Owners: @iravasen, @IsakovAD, @diana0x0f

[MCH] fixed access to invalid map iterator
  Modules/MUON/MCH/src/DigitsPostProcessing.cxx
Owners: @Barthelemy, @knopers8

[MCH] fixed access to invalid map iterator (#2165)
  Modules/MUON/MCH/src/DigitsPostProcessing.cxx
Owners: @Barthelemy, @knopers8

Tips for memory usage reduction
  README.md
  doc/Advanced.md
Owners: @Barthelemy, @knopers8

Tips for memory usage reduction (#2166)
  README.md
  doc/Advanced.md
Owners: @Barthelemy, @knopers8

Use lightweight its::GeometryTGeo instead of full geometry (#2164)
  Modules/ITS/itsCluster.json
  Modules/ITS/itsFhr.json
  Modules/ITS/itsQCQualitySummary.json
  Modules/ITS/src/ITSClusterTask.cxx
  Modules/ITS/src/ITSFhrTask.cxx
  Modules/MFT/include/MFT/QcMFTClusterTask.h
  Modules/MFT/include/MFT/QcMFTTrackTask.h
  Modules/MFT/mft-clusters.json
  Modules/MFT/mft-tracks.json
  Modules/MFT/src/QcMFTClusterTask.cxx
  Modules/MFT/src/QcMFTTrackTask.cxx
Owners: @iravasen, @IsakovAD, @diana0x0f

[MUON] PR review comments
  Modules/MUON/Common/include/MUONCommon/Helpers.h
  Modules/MUON/Common/include/MUONCommon/HistPlotter.h
  Modules/MUON/Common/include/MUONCommon/MatchingEfficiencyCheck.h
  Modules/MUON/Common/include/MUONCommon/TrackPlotter.h
  Modules/MUON/Common/include/MUONCommon/TracksPostProcessing.h
  Modules/MUON/Common/include/MUONCommon/TracksTask.h
  Modules/MUON/Common/src/Helpers.cxx
  Modules/MUON/Common/src/MatchingEfficiencyCheck.cxx
  Modules/MUON/Common/src/TrackPlotter.cxx
  Modules/MUON/Common/src/TracksPostProcessing.cxx
  Modules/MUON/Common/src/TracksTask.cxx
Owners: @Barthelemy, @knopers8

Add histo for TrendingTask
  Modules/MUON/MID/include/MID/DigitsQcCheck.h
  Modules/MUON/MID/include/MID/DigitsQcTask.h
  Modules/MUON/MID/include/MID/TracksQcTask.h
  Modules/MUON/MID/src/CalibMQcTask.cxx
  Modules/MUON/MID/src/CalibQcTask.cxx
  Modules/MUON/MID/src/ClustQcTask.cxx
  Modules/MUON/MID/src/DigitsQcCheck.cxx
  Modules/MUON/MID/src/DigitsQcTask.cxx
  Modules/MUON/MID/src/MIDTrending.cxx
  Modules/MUON/MID/src/RawQcTask.cxx
  Modules/MUON/MID/src/TracksQcTask.cxx
Owners: @Barthelemy, @knopers8

MUON: added forward tracks post-processing (#2150)
  Modules/MUON/Common/CMakeLists.txt
  Modules/MUON/Common/Readme.md
  Modules/MUON/Common/include/MUONCommon/Helpers.h
  Modules/MUON/Common/include/MUONCommon/HistPlotter.h
  Modules/MUON/Common/include/MUONCommon/LinkDef.h
  Modules/MUON/Common/include/MUONCommon/MatchingEfficiencyCheck.h
  Modules/MUON/Common/include/MUONCommon/MuonTrack.h
  Modules/MUON/Common/include/MUONCommon/TrackPlotter.h
  Modules/MUON/Common/include/MUONCommon/TracksPostProcessing.h
  Modules/MUON/Common/include/MUONCommon/TracksPostProcessingConfig.h
  Modules/MUON/Common/include/MUONCommon/TracksTask.h
  Modules/MUON/Common/src/Helpers.cxx
  Modules/MUON/Common/src/HistPlotter.cxx
  Modules/MUON/Common/src/MatchingEfficiencyCheck.cxx
  Modules/MUON/Common/src/MuonTrack.cxx
  Modules/MUON/Common/src/TrackPlotter.cxx
  Modules/MUON/Common/src/TracksPostProcessing.cxx
  Modules/MUON/Common/src/TracksPostProcessingConfig.cxx
  Modules/MUON/Common/src/TracksTask.cxx
Owners: @Barthelemy, @knopers8

1.136.0
  CMakeLists.txt
Owners: @Barthelemy, @knopers8

[QC-1031]: changed origin for QC Check
  .gitignore
  Framework/include/QualityControl/Check.h
  Framework/src/Check.cxx
  Framework/test/testCheck.cxx
  Framework/test/testCheckWorkflow.cxx
  Framework/test/testWorkflow.cxx
Owners: @Barthelemy, @knopers8

[QC-1123]: djb2 hash is used when description is too long
  Framework/include/QualityControl/Check.h
  Framework/src/Check.cxx
  Framework/test/testCheck.cxx
  Framework/test/testSharedConfig.json
Owners: @Barthelemy, @knopers8

[MUON] removed unneeed call to TaskInterface::retrieveConditionAny()
  Modules/MUON/Common/src/TracksTask.cxx
Owners: @Barthelemy, @knopers8

[QC-1123]: use std::hash, hash any DataDescription
  Framework/CMakeLists.txt
  Framework/include/QualityControl/AggregatorRunner.h
  Framework/include/QualityControl/HashDataDescription.h
  Framework/include/QualityControl/PostProcessingDevice.h
  Framework/include/QualityControl/TaskRunner.h
  Framework/src/AggregatorRunner.cxx
  Framework/src/Check.cxx
  Framework/src/HashDataDescription.cxx
  Framework/src/PostProcessingDevice.cxx
  Framework/src/TaskRunner.cxx
  Framework/test/testAggregatorRunner.cxx
  Framework/test/testCheck.cxx
  Framework/test/testTaskRunner.cxx
Owners: @Barthelemy, @knopers8

crrecting check function: Added check if HC empty and not masked, if 40% of chambers are masked or any entire sector is masked
  Modules/TRD/include/TRD/CheckOnHc2d.h
  Modules/TRD/src/CheckOnHc2d.cxx
Owners: @martenole, @bazinski

[MUON] removed unneeed call to TaskInterface::retrieveConditionAny() (#2172)
  Modules/MUON/Common/src/TracksTask.cxx
Owners: @Barthelemy, @knopers8

v1.136.1
  CMakeLists.txt
Owners: @Barthelemy, @knopers8

[MUON] removed unneeed call to TaskInterface::retrieveConditionAny() (#2172)
  Modules/MUON/Common/src/TracksTask.cxx
Owners: @Barthelemy, @knopers8

fix (one line went missing0
  Framework/src/runnerUtils.cxx
  Framework/test/testRunnerUtils.cxx
Owners: @Barthelemy, @knopers8

format
  Framework/test/testRunnerUtils.cxx
Owners: @Barthelemy, @knopers8

hash length hardwired in objects
  Framework/include/QualityControl/AggregatorRunner.h
  Framework/include/QualityControl/Check.h
  Framework/include/QualityControl/HashDataDescription.h
  Framework/include/QualityControl/PostProcessingDevice.h
  Framework/include/QualityControl/TaskRunner.h
  Framework/src/AggregatorRunner.cxx
  Framework/src/Check.cxx
  Framework/src/HashDataDescription.cxx
  Framework/src/PostProcessingDevice.cxx
  Framework/src/TaskRunner.cxx
Owners: @Barthelemy, @knopers8

use djb2 instead of std::hash for multiplatform stability
  Framework/src/HashDataDescription.cxx
  Framework/test/testAggregatorRunner.cxx
  Framework/test/testCheck.cxx
  Framework/test/testTaskRunner.cxx
Owners: @Barthelemy, @knopers8

correction
  Modules/MUON/MID/src/DigitsQcCheck.cxx
Owners: @Barthelemy, @knopers8

Add histo for TrendingTask (#2167)
  Modules/MUON/MID/include/MID/DigitsQcCheck.h
  Modules/MUON/MID/include/MID/DigitsQcTask.h
  Modules/MUON/MID/include/MID/TracksQcTask.h
  Modules/MUON/MID/src/CalibMQcTask.cxx
  Modules/MUON/MID/src/CalibQcTask.cxx
  Modules/MUON/MID/src/ClustQcTask.cxx
  Modules/MUON/MID/src/DigitsQcCheck.cxx
  Modules/MUON/MID/src/DigitsQcTask.cxx
  Modules/MUON/MID/src/MIDTrending.cxx
  Modules/MUON/MID/src/RawQcTask.cxx
  Modules/MUON/MID/src/TracksQcTask.cxx
Owners: @Barthelemy, @knopers8

[MCH] reduced memory footprint of Digits task
  Modules/MUON/MCH/include/MCH/DigitsTask.h
  Modules/MUON/MCH/src/DigitsTask.cxx
  Modules/MUON/MCH/src/TH2ElecMapReductor.cxx
Owners: @Barthelemy, @knopers8

added warn log when creating hashed description
  Framework/include/QualityControl/Check.h
  Framework/src/Check.cxx
  Framework/src/HashDataDescription.cxx
  Framework/test/testCheck.cxx
  Framework/test/testCheckWorkflow.cxx
  Framework/test/testWorkflow.cxx
Owners: @Barthelemy, @knopers8

[MCH] reduced memory footprint of Digits task (#2174)
  Modules/MUON/MCH/include/MCH/DigitsTask.h
  Modules/MUON/MCH/src/DigitsTask.cxx
  Modules/MUON/MCH/src/TH2ElecMapReductor.cxx
Owners: @Barthelemy, @knopers8

separated method to ctreate DataOrigin
  Framework/include/QualityControl/Check.h
  Framework/src/Check.cxx
Owners: @Barthelemy, @knopers8

TRD: always update mChamberStatus
  Modules/TRD/src/DigitsTask.cxx
  Modules/TRD/src/TrackletsTask.cxx
Owners: @martenole, @bazinski

[QC 1123]: using hash when description is too long (#2171)
  .gitignore
  Framework/CMakeLists.txt
  Framework/include/QualityControl/AggregatorRunner.h
  Framework/include/QualityControl/Check.h
  Framework/include/QualityControl/HashDataDescription.h
  Framework/include/QualityControl/PostProcessingDevice.h
  Framework/include/QualityControl/TaskRunner.h
  Framework/src/AggregatorRunner.cxx
  Framework/src/Check.cxx
  Framework/src/HashDataDescription.cxx
  Framework/src/PostProcessingDevice.cxx
  Framework/src/TaskRunner.cxx
  Framework/test/testAggregatorRunner.cxx
  Framework/test/testCheck.cxx
  Framework/test/testCheckWorkflow.cxx
  Framework/test/testSharedConfig.json
  Framework/test/testTaskRunner.cxx
Owners: @Barthelemy, @knopers8

update doc and TOC
  README.md
  doc/Advanced.md
  doc/DevelopersTips.md
  doc/PostProcessing.md
  doc/QuickStart.md
Owners: @Barthelemy, @knopers8

test fixed
  Framework/test/testCheck.cxx
Owners: @Barthelemy, @knopers8

Avoid MonitorObjectCollection to grow in size
  Framework/src/ObjectsManager.cxx
Owners: @Barthelemy, @knopers8

[QC-1031]: changed origin for QC Check (#2170)
  Framework/include/QualityControl/Check.h
  Framework/src/Check.cxx
  Framework/test/testCheck.cxx
  Framework/test/testCheckWorkflow.cxx
  Framework/test/testWorkflow.cxx
Owners: @Barthelemy, @knopers8

Avoid MonitorObjectCollection to grow in size (#2169)
  Framework/src/ObjectsManager.cxx
Owners: @Barthelemy, @knopers8

QC-1125 Another Compress() afer Remove() in ObjectManager
  Framework/src/ObjectsManager.cxx
Owners: @Barthelemy, @knopers8
