Repository AliceO2Group/QualityControl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Barthelemy, @knopers8, @njacazio, @mfasDa, @jokonig, @wiechula, @diana0x0f, @iravasen, @IsakovAD, @martenole, @bazinski, @fjonasALICE, @andreasmolander, @afurs, @jotwinow

.github/CODEOWNERS:

# Global access
*       @Barthelemy @knopers8

# Detectors
/Modules/TOF/      @njacazio
/Modules/PID/      @njacazio
/Modules/EMCAL/    @mfasDa @jokonig @Barthelemy @knopers8
/Modules/TPC/      @wiechula
/Modules/MFT/      @diana0x0f
/Modules/ITS/      @iravasen @IsakovAD
/Modules/TRD/      @martenole @bazinski
/Modules/FOCAL/    @mfasDa @fjonasALICE
/Modules/FIT/      @andreasmolander @afurs @jotwinow

Do not ask for geometry in GLO ITS-TPC and TOF matching QC (#2154)
  Modules/GLO/ITSTPCmatchedTracks.json
  Modules/GLO/ITSTPCmatchedTracks_MC.json
  Modules/GLO/ITSTPCmatchedTracks_direct.json
  Modules/GLO/ITSTPCmatchedTracks_direct_MC.json
  Modules/GLO/ITSTPCmatchedTracks_mnl.json
  Modules/GLO/glo-itstpc-mtch-qcmn-epn.json
  Modules/TOF/tofMatchedTracks_AllTypes_direct_MC.json
  Modules/TOF/tofMatchedTracks_ITSTPCTOF.json
  Modules/TOF/tofMatchedTracks_ITSTPCTOF_TPCTOF.json
  Modules/TOF/tofMatchedTracks_ITSTPCTOF_TPCTOF_MC.json
  Modules/TOF/tofMatchedTracks_ITSTPCTOF_TPCTOF_direct.json
  Modules/TOF/tofMatchedTracks_ITSTPCTOF_TPCTOF_direct_MC.json
Owners: @Barthelemy, @knopers8, @njacazio

fix logs
  Framework/src/ObjectsManager.cxx
Owners: @Barthelemy, @knopers8

Fixed Error message about wrong vector size
  Modules/ITS/include/ITS/ITSHelpers.h
  Modules/ITS/itsDecoding.json
  Modules/ITS/src/ITSDecodingErrorCheck.cxx
Owners: @iravasen, @IsakovAD

QC-1105 Avoid "Unable to find object" at 2nd STOP in (Slice)TrendingTask
  Framework/src/SliceTrendingTask.cxx
  Framework/src/TrendingTask.cxx
Owners: @Barthelemy, @knopers8

Clang
  Modules/ITS/src/ITSDecodingErrorCheck.cxx
Owners: @iravasen, @IsakovAD

QC-1102 ObjectManager should survive being fed with nullptr (#2146)
  Framework/src/ObjectsManager.cxx
  Framework/test/testObjectsManager.cxx
Owners: @Barthelemy, @knopers8

QC-1103 BigScreen Task: create the canvas, paves and labels in configure() (#2148)
  Modules/Common/src/BigScreen.cxx
Owners: @Barthelemy, @knopers8

MFT: Implementation of QC Review suggestion
  Modules/MFT/include/MFT/QcMFTClusterTask.h
  Modules/MFT/include/MFT/QcMFTReadoutTask.h
  Modules/MFT/mft-clusters.json
  Modules/MFT/mft-digits.json
  Modules/MFT/mft-readout.json
  Modules/MFT/mft-tracks-mc.json
  Modules/MFT/mft-tracks.json
  Modules/MFT/src/QcMFTClusterCheck.cxx
  Modules/MFT/src/QcMFTClusterTask.cxx
  Modules/MFT/src/QcMFTDigitCheck.cxx
  Modules/MFT/src/QcMFTDigitTask.cxx
  Modules/MFT/src/QcMFTReadoutCheck.cxx
  Modules/MFT/src/QcMFTReadoutTask.cxx
  Modules/MFT/src/QcMFTTrackCheck.cxx
  Modules/MFT/src/QcMFTTrackTask.cxx
Owners: @diana0x0f

MFT: Additional removal of histos from json file.
  Modules/MFT/mft-readout.json
Owners: @diana0x0f

QC-1105 Avoid "Unable to find object" at 2nd STOP in (Slice)TrendingTask (#2157)
  Framework/src/SliceTrendingTask.cxx
  Framework/src/TrendingTask.cxx
Owners: @Barthelemy, @knopers8

HMP: Adding more plots and removing spaces from TaskMatches plot names (#2142)
  Modules/HMPID/include/HMPID/HmpidTaskClusters.h
  Modules/HMPID/include/HMPID/HmpidTaskMatches.h
  Modules/HMPID/src/HmpidTaskClusters.cxx
  Modules/HMPID/src/HmpidTaskMatches.cxx
Owners: @Barthelemy, @knopers8

MFT: new MC Track Task (#2115)
  Modules/MFT/CMakeLists.txt
  Modules/MFT/include/MFT/LinkDef.h
  Modules/MFT/include/MFT/QcMFTTrackMCTask.h
  Modules/MFT/mft-tracks-mc.json
  Modules/MFT/src/QcMFTTrackMCTask.cxx
Owners: @diana0x0f

v1.126.6
  CMakeLists.txt
Owners: @Barthelemy, @knopers8

new plot: n_clusters per track vs pt
  Modules/ITS/include/ITS/ITSTrackTask.h
  Modules/ITS/src/ITSTrackTask.cxx
Owners: @iravasen, @IsakovAD

FIT: starting refactoring
  Modules/FIT/Common/include/FITCommon/DetectorFIT.h
  Modules/FIT/Common/include/FITCommon/HelperFIT.h
  Modules/FIT/Common/include/FITCommon/PostProcHelper.h
  Modules/FIT/Common/src/DetectorFIT.cxx
  Modules/FIT/FDD/include/FDD/DigitQcTask.h
  Modules/FIT/FDD/include/FDD/PostProcTask.h
  Modules/FIT/FDD/src/DigitQcTask.cxx
  Modules/FIT/FDD/src/PostProcTask.cxx
  Modules/FIT/FIT/include/FIT/LevelCheck.h
  Modules/FIT/FIT/src/LevelCheck.cxx
  Modules/FIT/FIT/src/RecoFITQcTask.cxx
  Modules/FIT/FT0/include/FT0/DigitQcTask.h
  Modules/FIT/FT0/include/FT0/PostProcTask.h
  Modules/FIT/FT0/include/FT0/RecPointsQcTask.h
  Modules/FIT/FT0/src/DigitQcTask.cxx
  Modules/FIT/FT0/src/PostProcTask.cxx
  Modules/FIT/FT0/src/RecPointsQcTask.cxx
  Modules/FIT/FV0/include/FV0/DigitQcTask.h
  Modules/FIT/FV0/include/FV0/PostProcTask.h
  Modules/FIT/FV0/src/DigitQcTask.cxx
  Modules/FIT/FV0/src/PostProcTask.cxx
Owners: @andreasmolander, @afurs, @jotwinow

new plot: n_clusters per track vs pt (#2159)
  Modules/ITS/include/ITS/ITSTrackTask.h
  Modules/ITS/src/ITSTrackTask.cxx
Owners: @iravasen, @IsakovAD

MFT: Implementation of QC Review suggestion (#2158)
  Modules/MFT/include/MFT/QcMFTClusterTask.h
  Modules/MFT/include/MFT/QcMFTReadoutTask.h
  Modules/MFT/mft-clusters.json
  Modules/MFT/mft-digits.json
  Modules/MFT/mft-readout.json
  Modules/MFT/mft-tracks-mc.json
  Modules/MFT/mft-tracks.json
  Modules/MFT/src/QcMFTClusterCheck.cxx
  Modules/MFT/src/QcMFTClusterTask.cxx
  Modules/MFT/src/QcMFTDigitCheck.cxx
  Modules/MFT/src/QcMFTDigitTask.cxx
  Modules/MFT/src/QcMFTReadoutCheck.cxx
  Modules/MFT/src/QcMFTReadoutTask.cxx
  Modules/MFT/src/QcMFTTrackCheck.cxx
  Modules/MFT/src/QcMFTTrackTask.cxx
Owners: @diana0x0f

Framework: slice labels in 1D slice trending (#2155)
  Framework/include/QualityControl/SliceTrendingTask.h
  Framework/include/QualityControl/SliceTrendingTaskConfig.h
  Framework/postprocessing.json
  Framework/src/SliceTrendingTask.cxx
  Framework/src/SliceTrendingTaskConfig.cxx
Owners: @Barthelemy, @knopers8

Increase newobject warning log level (#2145)
  Framework/src/Triggers.cxx
Owners: @Barthelemy, @knopers8

Hotfix for PID Hypothesis - switch to disable Canvas (#2151)
  Modules/TPC/run/tpcQCPID_sampled.json
  Modules/TPC/src/PID.cxx
Owners: @wiechula

TPC: Reductor for vdrift (#2153)
  Modules/TPC/CMakeLists.txt
  Modules/TPC/include/TPC/LinkDef.h
  Modules/TPC/include/TPC/VDriftCalibReductor.h
  Modules/TPC/run/tpcQCvDriftTrending.json
  Modules/TPC/src/VDriftCalibReductor.cxx
Owners: @wiechula

ITS: fix of wrong vector size infologger message (#2156)
  Modules/ITS/include/ITS/ITSHelpers.h
  Modules/ITS/itsDecoding.json
Owners: @iravasen, @IsakovAD

1.135.0
  CMakeLists.txt
Owners: @Barthelemy, @knopers8

Update to C++20 in the main CMakeLists.txt
  CMakeLists.txt
Owners: @Barthelemy, @knopers8

Update DevelopersTips.md
  doc/DevelopersTips.md
Owners: @Barthelemy, @knopers8

Update to C++20 in the main CMakeLists.txt (#2161)
  CMakeLists.txt
Owners: @Barthelemy, @knopers8

doc
  doc/Advanced.md
  doc/ModulesDevelopment.md
Owners: @Barthelemy, @knopers8

[QC-1079] run type as string
  Framework/include/QualityControl/Activity.h
  Framework/include/QualityControl/CommonSpec.h
  Framework/include/QualityControl/runnerUtils.h
  Framework/src/Activity.cxx
  Framework/src/ActivityHelpers.cxx
  Framework/src/CustomParameters.cxx
  Framework/src/InfrastructureSpecReader.cxx
  Framework/src/MonitorObject.cxx
  Framework/src/PostProcessingConfig.cxx
  Framework/src/QualityObject.cxx
  Framework/src/runnerUtils.cxx
  Framework/test/testActivity.cxx
  Framework/test/testActivityHelpers.cxx
  Framework/test/testAggregatorRunner.cxx
  Framework/test/testCcdbDatabase.cxx
  Framework/test/testCheck.cxx
  Framework/test/testCustomParameters.cxx
  Framework/test/testMonitorObjectCollection.cxx
  Framework/test/testRootFileStorage.cxx
  Framework/test/testTriggers.cxx
Owners: @Barthelemy, @knopers8

format
  Framework/include/QualityControl/Activity.h
  Framework/src/runnerUtils.cxx
Owners: @Barthelemy, @knopers8

clearer method name
  Framework/src/runnerUtils.cxx
Owners: @Barthelemy, @knopers8

1. extract isOnlyDigits to stringUtils 2. handle the case when the run type is a number and convert it to the string representation 3. tests
  Framework/CMakeLists.txt
  Framework/include/QualityControl/stringUtils.h
  Framework/src/ActivityHelpers.cxx
  Framework/src/stringUtils.cxx
  Framework/test/testActivityHelpers.cxx
  Framework/test/testStringUtils.cxx
Owners: @Barthelemy, @knopers8

Fix bug when deleting objects
  Modules/HMPID/src/HmpidTaskClusters.cxx
Owners: @Barthelemy, @knopers8

fix broken test
  Framework/test/testCcdbDatabase.cxx
Owners: @Barthelemy, @knopers8

Test the translation of an integer run type into a string run type. Also warn the user of the translation.
  Framework/include/QualityControl/runnerUtils.h
  Framework/src/runnerUtils.cxx
  Framework/test/testRunnerUtils.cxx
Owners: @Barthelemy, @knopers8

format
  Framework/src/ActivityHelpers.cxx
  Framework/src/stringUtils.cxx
Owners: @Barthelemy, @knopers8

Fix bug when deleting objects (#2163)
  Modules/HMPID/src/HmpidTaskClusters.cxx
Owners: @Barthelemy, @knopers8

forgot the test
  Framework/CMakeLists.txt
Owners: @Barthelemy, @knopers8

v1.135.1
  CMakeLists.txt
Owners: @Barthelemy, @knopers8

Fix bug when deleting objects (#2163)
  Modules/HMPID/src/HmpidTaskClusters.cxx
Owners: @Barthelemy, @knopers8

v1.126.7
  CMakeLists.txt
Owners: @Barthelemy, @knopers8
