Repository AliceO2Group/QualityControl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Barthelemy, @knopers8, @njacazio, @mfasDa, @jokonig, @wiechula, @tomas-herman, @iravasen, @IsakovAD

MCH: use MCHConstants lib from O2 (#1530)
  Modules/MUON/MCH/CMakeLists.txt
  Modules/MUON/MCH/include/MCH/MergeableTH1MPVPerDECycle.h
  Modules/MUON/MCH/include/MCH/MergeableTH1PseudoEfficiencyPerDE.h
  Modules/MUON/MCH/include/MCH/MergeableTH1PseudoEfficiencyPerDECycle.h
  Modules/MUON/MCH/src/PedestalsTask.cxx
  Modules/MUON/MCH/src/PhysicsTaskDigits.cxx
  Modules/MUON/MCH/src/PhysicsTaskPreclusters.cxx
  Modules/MUON/MCH/src/TrendingFECHistRatio.cxx
Owners: @Barthelemy, @knopers8

[QC-882] Add missing parameter to avoid debug messages on epn (#1528)
  Framework/src/QcInfoLogger.cxx
Owners: @Barthelemy, @knopers8

[QC-882] Add missing parameter to avoid debug messages on epn (#1528)
  Framework/src/QcInfoLogger.cxx
Owners: @Barthelemy, @knopers8

v1.80.1
  CMakeLists.txt
Owners: @Barthelemy, @knopers8

Add missing headers (#1531)
  Framework/include/QualityControl/ValidityInterval.h
Owners: @Barthelemy, @knopers8

v1.80.2
  CMakeLists.txt
Owners: @Barthelemy, @knopers8

MFT: Adding readout info summary per zone (#1522)
  Modules/MFT/include/MFT/QcMFTReadoutTask.h
  Modules/MFT/qc-mft-readout.json
  Modules/MFT/src/QcMFTReadoutCheck.cxx
  Modules/MFT/src/QcMFTReadoutTask.cxx
Owners: @tomas-herman

WIP: Name Service Discovery health thread
  Framework/src/ServiceDiscovery.cxx
Owners: @Barthelemy, @knopers8

[FOCAL] Base task for FOCAL testbeam (Pads)
  Framework/src/InfrastructureSpecReader.cxx
  Modules/CMakeLists.txt
  Modules/FOCAL/CMakeLists.txt
  Modules/FOCAL/include/FOCAL/LaneData.h
  Modules/FOCAL/include/FOCAL/LinkDef.h
  Modules/FOCAL/include/FOCAL/PadData.h
  Modules/FOCAL/include/FOCAL/PadDecoder.h
  Modules/FOCAL/include/FOCAL/PadMapper.h
  Modules/FOCAL/include/FOCAL/PadWord.h
  Modules/FOCAL/include/FOCAL/TestbeamRawTask.h
  Modules/FOCAL/src/LaneData.cxx
  Modules/FOCAL/src/PadData.cxx
  Modules/FOCAL/src/PadDecoder.cxx
  Modules/FOCAL/src/PadMapper.cxx
  Modules/FOCAL/src/PadWord.cxx
  Modules/FOCAL/src/TestbeamRawTask.cxx
  Modules/FOCAL/test/testQcFOCAL.cxx
Owners: @Barthelemy, @knopers8

[FOCAL] Add configuration for testbeam raw QC
  Modules/FOCAL/etc/testbeam.json
Owners: @Barthelemy, @knopers8

Added optional possibility to read geometry from ccdb
  Modules/ITS/include/ITS/ITSClusterTask.h
  Modules/ITS/include/ITS/ITSFhrTask.h
  Modules/ITS/itsCluster.json
  Modules/ITS/itsFhr.json
  Modules/ITS/src/ITSClusterTask.cxx
  Modules/ITS/src/ITSFhrTask.cxx
Owners: @iravasen, @IsakovAD

Report mismatching run number when merging Monitor Objects
  Framework/src/MonitorObjectCollection.cxx
Owners: @Barthelemy, @knopers8

drop unneeded header
  Framework/src/MonitorObjectCollection.cxx
Owners: @Barthelemy, @knopers8

[EMCAL-792] Define error histograms based on settings in O2
  Modules/EMCAL/src/RawErrorTask.cxx
Owners: @mfasDa, @jokonig

Base task for FOCAL testbeam (Pads) (#1527)
  Framework/src/InfrastructureSpecReader.cxx
  Modules/CMakeLists.txt
  Modules/FOCAL/CMakeLists.txt
  Modules/FOCAL/etc/testbeam.json
  Modules/FOCAL/include/FOCAL/LaneData.h
  Modules/FOCAL/include/FOCAL/LinkDef.h
  Modules/FOCAL/include/FOCAL/PadData.h
  Modules/FOCAL/include/FOCAL/PadDecoder.h
  Modules/FOCAL/include/FOCAL/PadMapper.h
  Modules/FOCAL/include/FOCAL/PadWord.h
  Modules/FOCAL/include/FOCAL/TestbeamRawTask.h
  Modules/FOCAL/src/LaneData.cxx
  Modules/FOCAL/src/PadData.cxx
  Modules/FOCAL/src/PadDecoder.cxx
  Modules/FOCAL/src/PadMapper.cxx
  Modules/FOCAL/src/PadWord.cxx
  Modules/FOCAL/src/TestbeamRawTask.cxx
  Modules/FOCAL/test/testQcFOCAL.cxx
Owners: @Barthelemy, @knopers8

[FOCAL] Remove outdated parameter from CMakeLists.txt
  Modules/FOCAL/CMakeLists.txt
Owners: @Barthelemy, @knopers8

Improve warning message
  Framework/src/TaskRunner.cxx
Owners: @Barthelemy, @knopers8

[EMCAL-792] Define error histograms based on settings in O2 (#1532)
  Modules/EMCAL/src/RawErrorTask.cxx
Owners: @mfasDa, @jokonig

ZDC Implement checker for task-raw and task-rec. TASK RAW add histogram Rate. TASK REC Add histograms summary ADC and Summary TDC.
  Modules/ZDC/CMakeLists.txt
  Modules/ZDC/etc/zdcTaskRawData.json
  Modules/ZDC/etc/zdcTaskRecData.json
  Modules/ZDC/include/ZDC/LinkDef.h
  Modules/ZDC/include/ZDC/ZDCRawDataTask.h
  Modules/ZDC/include/ZDC/ZDCRecDataCheck.h
  Modules/ZDC/include/ZDC/ZDCRecDataTask.h
  Modules/ZDC/src/ZDCRawDataCheck.cxx
  Modules/ZDC/src/ZDCRawDataTask.cxx
  Modules/ZDC/src/ZDCRecDataCheck.cxx
  Modules/ZDC/src/ZDCRecDataTask.cxx
Owners: @Barthelemy, @knopers8

CPV: add async mode to physics task
  Modules/CPV/include/CPV/PhysicsTask.h
  Modules/CPV/src/PhysicsTask.cxx
Owners: @Barthelemy, @knopers8

Make sure the ports are unique when running the multinode test
  Framework/CMakeLists.txt
  Framework/script/o2-qc-multinode-test.sh
  cmake/GenerateUniquePort.cmake
Owners: @Barthelemy, @knopers8

Improve warning message (#1539)
  Framework/src/TaskRunner.cxx
Owners: @Barthelemy, @knopers8

Report mismatching run number when merging Monitor Objects (#1536)
  Framework/src/MonitorObjectCollection.cxx
Owners: @Barthelemy, @knopers8

Update o2-qc-multinode-test.sh
  Framework/script/o2-qc-multinode-test.sh
Owners: @Barthelemy, @knopers8

Use QDCB metadata keys when printing Activity to clarify which are used
  Framework/src/Activity.cxx
Owners: @Barthelemy, @knopers8

update the path in curl
  Framework/script/o2-qc-multinode-test.sh
Owners: @Barthelemy, @knopers8

do not generate randomly UNIQUE_PORT_2 anymore
  Framework/CMakeLists.txt
Owners: @Barthelemy, @knopers8

[FOCAL] Remove outdated parameter from CMakeLists.txt (#1537)
  Modules/FOCAL/CMakeLists.txt
Owners: @Barthelemy, @knopers8

just trying new stuff
  Modules/TRD/include/TRD/PulseHeightPerChamber.h
  Modules/TRD/src/DigitsTask.cxx
  Modules/TRD/src/PulseHeightPerChamber.cxx
Owners: @Barthelemy, @knopers8

Add median and rms to ROCReductor and put example json
  Modules/TPC/CMakeLists.txt
  Modules/TPC/include/TPC/ROCReductor.h
  Modules/TPC/run/tpcQCROCTrending.json
  Modules/TPC/src/ROCReductor.cxx
Owners: @wiechula

Make sure the ports are unique when running the multinode test (#1538)
  Framework/CMakeLists.txt
  Framework/script/o2-qc-multinode-test.sh
  cmake/GenerateUniquePort.cmake
Owners: @Barthelemy, @knopers8

[EMCAL-767] Remove stat boxes for calibration maps
  Modules/EMCAL/src/CalibMonitoringTask.cxx
Owners: @mfasDa, @jokonig

Range increased
  Modules/TRD/src/DigitsTask.cxx
  Modules/TRD/src/TrackletsTask.cxx
Owners: @Barthelemy, @knopers8

changes in ranges of histograms
  Modules/TRD/src/DigitsTask.cxx
  Modules/TRD/src/TrackletsTask.cxx
Owners: @Barthelemy, @knopers8

v1.80.3
  CMakeLists.txt
Owners: @Barthelemy, @knopers8

Make sure the ports are unique when running the multinode test (#1538)
  Framework/CMakeLists.txt
  Framework/script/o2-qc-multinode-test.sh
  cmake/GenerateUniquePort.cmake
Owners: @Barthelemy, @knopers8

[EMCAL-846] Add reductor for bad channel and time calib params
  Modules/EMCAL/CMakeLists.txt
  Modules/EMCAL/include/EMCAL/BadChannelMapReductor.h
  Modules/EMCAL/include/EMCAL/LinkDef.h
  Modules/EMCAL/include/EMCAL/TimeCalibParamReductor.h
  Modules/EMCAL/src/BadChannelMapReductor.cxx
  Modules/EMCAL/src/TimeCalibParamReductor.cxx
Owners: @mfasDa, @jokonig

[EMCAL-767] Remove stat boxes for calibration maps (#1545)
  Modules/EMCAL/src/CalibMonitoringTask.cxx
Owners: @mfasDa, @jokonig

Add median and rms to ROCReductor and put example json
  Modules/TPC/CMakeLists.txt
  Modules/TPC/include/TPC/ROCReductor.h
  Modules/TPC/run/tpcQCROCTrending.json
  Modules/TPC/src/ROCReductor.cxx
Owners: @wiechula

[EMCAL-846] Add reductor for bad channel and time calib params (#1548)
  Modules/EMCAL/CMakeLists.txt
  Modules/EMCAL/include/EMCAL/BadChannelMapReductor.h
  Modules/EMCAL/include/EMCAL/LinkDef.h
  Modules/EMCAL/include/EMCAL/TimeCalibParamReductor.h
  Modules/EMCAL/src/BadChannelMapReductor.cxx
  Modules/EMCAL/src/TimeCalibParamReductor.cxx
Owners: @mfasDa, @jokonig

.github/CODEOWNERS:

# Global access
*       @Barthelemy @knopers8

# Detectors
/Modules/TOF/      @njacazio
/Modules/EMCAL/    @mfasDa @jokonig
/Modules/TPC/      @wiechula
/Modules/MFT/      @tomas-herman
/Modules/ITS/      @iravasen @IsakovAD
