Repository AliceO2Group/QualityControl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Barthelemy, @knopers8, @njacazio, @mfasDa, @jokonig, @wiechula, @diana0x0f, @iravasen, @IsakovAD, @martenole, @bazinski, @fjonasALICE, @andreasmolander, @afurs, @jotwinow

.github/CODEOWNERS:

# Global access
*       @Barthelemy @knopers8

# Detectors
/Modules/TOF/      @njacazio
/Modules/PID/      @njacazio
/Modules/EMCAL/    @mfasDa @jokonig @Barthelemy @knopers8
/Modules/TPC/      @wiechula
/Modules/MFT/      @diana0x0f
/Modules/ITS/      @iravasen @IsakovAD
/Modules/TRD/      @martenole @bazinski
/Modules/FOCAL/    @mfasDa @fjonasALICE
/Modules/FIT/      @andreasmolander @afurs @jotwinow

Small fix for 1_per_run to make sure we delete the objects created last when several objects share the same validity start. This was already at P2 but I forgot ot put commit it.
  Framework/script/RepoCleaner/qcrepocleaner/Ccdb.py
  Framework/script/RepoCleaner/qcrepocleaner/rules/1_per_run.py
Owners: @Barthelemy, @knopers8

MFT: digit task fix
  Modules/MFT/src/QcMFTDigitTask.cxx
Owners: @diana0x0f

MFT: digit task fix (#2210)
  Modules/MFT/src/QcMFTDigitTask.cxx
Owners: @diana0x0f

v1.138.3
  CMakeLists.txt
Owners: @Barthelemy, @knopers8

MFT: digit task fix (#2210)
  Modules/MFT/src/QcMFTDigitTask.cxx
Owners: @diana0x0f

removing TrackletsCheck
  Modules/TRD/CMakeLists.txt
  Modules/TRD/include/TRD/LinkDef.h
  Modules/TRD/include/TRD/TrackletsCheck.h
  Modules/TRD/src/TrackletsCheck.cxx
Owners: @martenole, @bazinski

removed comments from CMakeLists.txt and LinkDef.h
  Modules/TRD/CMakeLists.txt
  Modules/TRD/include/TRD/LinkDef.h
Owners: @martenole, @bazinski

[EMCAL-1114] Basic QC task for pedestal calibration
  Modules/EMCAL/CMakeLists.txt
  Modules/EMCAL/include/EMCAL/LinkDef.h
  Modules/EMCAL/include/EMCAL/PedestalTask.h
  Modules/EMCAL/src/PedestalTask.cxx
Owners: @mfasDa, @jokonig, @Barthelemy, @knopers8

[EMCAL-1114] Basic QC task for pedestal calibration
  Modules/EMCAL/CMakeLists.txt
  Modules/EMCAL/include/EMCAL/LinkDef.h
  Modules/EMCAL/include/EMCAL/PedestalTask.h
  Modules/EMCAL/src/PedestalTask.cxx
Owners: @mfasDa, @jokonig, @Barthelemy, @knopers8

TOF PID: configure axis binning (#2208)
  Modules/PID/include/PID/TaskFT0TOF.h
  Modules/PID/src/TaskFT0TOF.cxx
Owners: @njacazio

TRD: merging TracketCheck and TrackletCountCheck (#2201)
  Modules/TRD/CMakeLists.txt
  Modules/TRD/include/TRD/LinkDef.h
  Modules/TRD/include/TRD/TrackletCountCheck.h
  Modules/TRD/include/TRD/TrackletsCheck.h
  Modules/TRD/src/TrackletCountCheck.cxx
  Modules/TRD/src/TrackletsCheck.cxx
Owners: @martenole, @bazinski

GLO: improved mean vertex post-processing (#2206)
  Modules/GLO/CMakeLists.txt
  Modules/GLO/glo-mean-vtx-post-processing.json
  Modules/GLO/include/GLO/LinkDef.h
  Modules/GLO/include/GLO/MeanVertexCheck.h
  Modules/GLO/include/GLO/MeanVertexPostProcessing.h
  Modules/GLO/src/MeanVertexCheck.cxx
  Modules/GLO/src/MeanVertexPostProcessing.cxx
Owners: @Barthelemy, @knopers8

1.139.0
  CMakeLists.txt
Owners: @Barthelemy, @knopers8

TOF: Update update cycle of map MO on ccdb
  Modules/TOF/include/TOF/PostProcessHitMap.h
  Modules/TOF/src/PostProcessHitMap.cxx
Owners: @njacazio

TRD raw check make nHBFPerTF configurable parameter
  Modules/TRD/include/TRD/RawDataCheck.h
  Modules/TRD/src/RawDataCheck.cxx
Owners: @martenole, @bazinski

TOF: Allow to change ccdb position
  Modules/TOF/include/TOF/PostProcessDiagnosticPerCrate.h
  Modules/TOF/src/PostProcessDiagnosticPerCrate.cxx
Owners: @njacazio

Update PostProcessDiagnosticPerCrate.h
  Modules/TOF/include/TOF/PostProcessDiagnosticPerCrate.h
Owners: @njacazio

[EMCAL-1114] Fixes for LEDMON pedestals
  Modules/EMCAL/src/PedestalTask.cxx
Owners: @mfasDa, @jokonig, @Barthelemy, @knopers8

Update PostProcessDiagnosticPerCrate.h
  Modules/TOF/include/TOF/PostProcessDiagnosticPerCrate.h
Owners: @njacazio

[EMCAL-1114] Fixes for LEDMON pedestals (#2215)
  Modules/EMCAL/src/PedestalTask.cxx
Owners: @mfasDa, @jokonig, @Barthelemy, @knopers8

Update PostProcessDiagnosticPerCrate.cxx
  Modules/TOF/src/PostProcessDiagnosticPerCrate.cxx
Owners: @njacazio

dev: moving CCDB call to update
  Modules/CTP/include/CTP/CTPTrendingTask.h
  Modules/CTP/src/CTPTrendingTask.cxx
Owners: @Barthelemy, @knopers8

clang
  Modules/CTP/include/CTP/CTPTrendingTask.h
  Modules/CTP/src/CTPTrendingTask.cxx
Owners: @Barthelemy, @knopers8

Small fix for 1_per_run to make sure we delete the objects created last when several objects share the same validity start. This was already at P2 but I forgot ot put commit it. (#2209)
  Framework/script/RepoCleaner/qcrepocleaner/Ccdb.py
  Framework/script/RepoCleaner/qcrepocleaner/rules/1_per_run.py
Owners: @Barthelemy, @knopers8

TOF: Update update MOs on ccdb at every update cycle (#2212)
  Modules/TOF/include/TOF/PostProcessHitMap.h
  Modules/TOF/src/PostProcessHitMap.cxx
Owners: @njacazio

TRD raw check make nHBFPerTF configurable parameter (#2213)
  Modules/TRD/include/TRD/RawDataCheck.h
  Modules/TRD/src/RawDataCheck.cxx
Owners: @martenole, @bazinski

TOF: Allow to change ccdb position (#2214)
  Modules/TOF/include/TOF/PostProcessDiagnosticPerCrate.h
  Modules/TOF/src/PostProcessDiagnosticPerCrate.cxx
Owners: @njacazio

Set log to Devel for "Too long data description" warning
  Framework/src/HashDataDescription.cxx
Owners: @Barthelemy, @knopers8
