Repository AliceO2Group/QualityControl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Barthelemy, @knopers8, @njacazio, @mfasDa, @jokonig, @wiechula, @diana0x0f, @iravasen, @IsakovAD, @martenole, @bazinski, @fjonasALICE, @andreasmolander, @afurs, @jotwinow

.github/CODEOWNERS:

# Global access
*       @Barthelemy @knopers8

# Detectors
/Modules/TOF/      @njacazio
/Modules/PID/      @njacazio
/Modules/EMCAL/    @mfasDa @jokonig @Barthelemy @knopers8
/Modules/TPC/      @wiechula
/Modules/MFT/      @diana0x0f
/Modules/ITS/      @iravasen @IsakovAD
/Modules/TRD/      @martenole @bazinski
/Modules/FOCAL/    @mfasDa @fjonasALICE
/Modules/FIT/      @andreasmolander @afurs @jotwinow

Update DevelopersTips.md
  doc/DevelopersTips.md
Owners: @Barthelemy, @knopers8

QC-1125 Another Compress() afer Remove() in ObjectManager (#2177)
  Framework/src/ObjectsManager.cxx
Owners: @Barthelemy, @knopers8

[QC-1118] Add option to entirely disable the infologger
  Framework/include/QualityControl/QcInfoLogger.h
  Framework/src/QcInfoLogger.cxx
  Framework/src/runQC.cxx
Owners: @Barthelemy, @knopers8

1.137.0
  CMakeLists.txt
Owners: @Barthelemy, @knopers8

update doc and TOC (#2175)
  README.md
  doc/Advanced.md
  doc/DevelopersTips.md
  doc/PostProcessing.md
  doc/QuickStart.md
Owners: @Barthelemy, @knopers8

improve the error message for unsupported data sources of remote tasks
  Framework/src/InfrastructureGenerator.cxx
Owners: @Barthelemy, @knopers8

this time timestamp is directly fetched from MO
  Modules/TRD/src/CheckOnHc2d.cxx
Owners: @martenole, @bazinski

Revert "[QC-1031]: changed origin for QC Check (#2170)"
  Framework/include/QualityControl/Check.h
  Framework/src/Check.cxx
  Framework/test/testCheck.cxx
  Framework/test/testCheckWorkflow.cxx
  Framework/test/testWorkflow.cxx
Owners: @Barthelemy, @knopers8

Revert "[QC-1031]: changed origin for QC Check (#2170)" (#2181)
  Framework/include/QualityControl/Check.h
  Framework/src/Check.cxx
  Framework/test/testCheck.cxx
  Framework/test/testCheckWorkflow.cxx
  Framework/test/testWorkflow.cxx
Owners: @Barthelemy, @knopers8

v1.137.1
  CMakeLists.txt
Owners: @Barthelemy, @knopers8

Revert "[QC-1031]: changed origin for QC Check (#2170)" (#2181)
  Framework/include/QualityControl/Check.h
  Framework/src/Check.cxx
  Framework/test/testCheck.cxx
  Framework/test/testCheckWorkflow.cxx
  Framework/test/testWorkflow.cxx
Owners: @Barthelemy, @knopers8

Revert "Revert "[QC-1031]: changed origin for QC Check (#2170)" (#2181)"
  Framework/include/QualityControl/Check.h
  Framework/src/Check.cxx
  Framework/test/testCheck.cxx
  Framework/test/testCheckWorkflow.cxx
  Framework/test/testWorkflow.cxx
Owners: @Barthelemy, @knopers8

Use correct check data origin as inputs of aggregators
  Framework/src/InfrastructureSpecReader.cxx
  Framework/src/runBasic.cxx
  Framework/test/testAggregatorRunner.cxx
  Framework/test/testCheck.cxx
  Framework/test/testSharedConfig.json
Owners: @Barthelemy, @knopers8

[MUON] enabled use of extended parameters in tasks and checkers
  Modules/MUON/Common/src/Helpers.cxx
  Modules/MUON/Common/src/TracksTask.cxx
  Modules/MUON/MCH/include/MCH/DecodingCheck.h
  Modules/MUON/MCH/include/MCH/DecodingPostProcessing.h
  Modules/MUON/MCH/include/MCH/DigitsCheck.h
  Modules/MUON/MCH/include/MCH/DigitsPostProcessing.h
  Modules/MUON/MCH/include/MCH/DigitsTask.h
  Modules/MUON/MCH/include/MCH/PreclustersCheck.h
  Modules/MUON/MCH/include/MCH/PreclustersPostProcessing.h
  Modules/MUON/MCH/src/DecodingCheck.cxx
  Modules/MUON/MCH/src/DecodingPostProcessing.cxx
  Modules/MUON/MCH/src/DecodingTask.cxx
  Modules/MUON/MCH/src/DigitsCheck.cxx
  Modules/MUON/MCH/src/DigitsPostProcessing.cxx
  Modules/MUON/MCH/src/DigitsTask.cxx
  Modules/MUON/MCH/src/PedestalsCheck.cxx
  Modules/MUON/MCH/src/PedestalsTask.cxx
  Modules/MUON/MCH/src/PreclustersCheck.cxx
  Modules/MUON/MCH/src/PreclustersPostProcessing.cxx
Owners: @Barthelemy, @knopers8

[MCH] code cleanup
  Modules/MUON/MCH/include/MCH/DecodingPostProcessing.h
  Modules/MUON/MCH/include/MCH/DecodingTask.h
  Modules/MUON/MCH/include/MCH/DigitsCheck.h
  Modules/MUON/MCH/include/MCH/DigitsPostProcessing.h
  Modules/MUON/MCH/include/MCH/DigitsTask.h
  Modules/MUON/MCH/include/MCH/PedestalsCheck.h
  Modules/MUON/MCH/include/MCH/PedestalsTask.h
  Modules/MUON/MCH/include/MCH/PreclustersCheck.h
  Modules/MUON/MCH/include/MCH/PreclustersTask.h
  Modules/MUON/MCH/include/MCH/RofsTask.h
  Modules/MUON/MCH/src/DecodingPostProcessing.cxx
  Modules/MUON/MCH/src/DecodingTask.cxx
  Modules/MUON/MCH/src/DigitsCheck.cxx
  Modules/MUON/MCH/src/DigitsTask.cxx
  Modules/MUON/MCH/src/PedestalsCheck.cxx
  Modules/MUON/MCH/src/PedestalsTask.cxx
  Modules/MUON/MCH/src/PreclustersCheck.cxx
  Modules/MUON/MCH/src/PreclustersPostProcessing.cxx
  Modules/MUON/MCH/src/PreclustersTask.cxx
  Modules/MUON/MCH/src/RofsTask.cxx
Owners: @Barthelemy, @knopers8

TRD: apply finaliseCCDB method for Chamber Status update
  Modules/TRD/include/TRD/DigitsTask.h
  Modules/TRD/include/TRD/TrackletsTask.h
  Modules/TRD/src/DigitsTask.cxx
  Modules/TRD/src/TrackletsTask.cxx
Owners: @martenole, @bazinski

startPublishing in BigScreen should appen in initialize()
  Modules/Common/src/BigScreen.cxx
Owners: @Barthelemy, @knopers8

Retrive object from CCDB in PostProcessing
  Modules/TOF/include/Base/MessagePad.h
  Modules/TOF/include/TOF/PostProcessHitMap.h
  Modules/TOF/include/TOF/Utils.h
  Modules/TOF/src/PostProcessHitMap.cxx
Owners: @njacazio

startPublishing in BigScreen should appen in initialize() (#2183)
  Modules/Common/src/BigScreen.cxx
Owners: @Barthelemy, @knopers8

improve the error message for unsupported data sources of remote tasks (#2179)
  Framework/src/InfrastructureGenerator.cxx
Owners: @Barthelemy, @knopers8

TRD: Load Chamber Status from CCDB every instance (#2176)
  Modules/TRD/include/TRD/DigitsTask.h
  Modules/TRD/include/TRD/TrackletsTask.h
  Modules/TRD/src/DigitsTask.cxx
  Modules/TRD/src/TrackletsTask.cxx
Owners: @martenole, @bazinski

use correct check data origin as inputs of aggregators (#2180)
  Framework/include/QualityControl/Check.h
  Framework/src/Check.cxx
  Framework/src/InfrastructureSpecReader.cxx
  Framework/src/runBasic.cxx
  Framework/test/testAggregatorRunner.cxx
  Framework/test/testCheck.cxx
  Framework/test/testCheckWorkflow.cxx
  Framework/test/testSharedConfig.json
  Framework/test/testWorkflow.cxx
Owners: @Barthelemy, @knopers8

[QC-1130] Issue with the newest ROOT when loading streamer infos
  Framework/CMakeLists.txt
  Framework/include/QualityControl/CcdbDatabase.h
  Framework/src/CcdbDatabase.cxx
  Framework/streamerinfos.root
  Framework/test/testDbFactory.cxx
Owners: @Barthelemy, @knopers8

Update MessagePad.h
  Modules/TOF/include/Base/MessagePad.h
Owners: @njacazio

Update MessagePad.h
  Modules/TOF/include/Base/MessagePad.h
Owners: @njacazio

Update PostProcessHitMap.cxx
  Modules/TOF/src/PostProcessHitMap.cxx
Owners: @njacazio

fixing MessagePad.h clang
  Modules/TOF/include/Base/MessagePad.h
Owners: @njacazio

remove parameter to `disable()`
  Framework/include/QualityControl/QcInfoLogger.h
  Framework/src/QcInfoLogger.cxx
Owners: @Barthelemy, @knopers8

Renamed discardFileParameters into DiscardParameters
  Framework/include/QualityControl/AggregatorRunnerConfig.h
  Framework/include/QualityControl/CheckRunnerConfig.h
  Framework/include/QualityControl/CommonSpec.h
  Framework/include/QualityControl/DiscardParameters.h
  Framework/include/QualityControl/PostProcessingRunnerConfig.h
  Framework/include/QualityControl/QcInfoLogger.h
  Framework/include/QualityControl/TaskRunnerConfig.h
  Framework/include/QualityControl/runnerUtils.h
  Framework/src/InfrastructureSpecReader.cxx
  Framework/src/QcInfoLogger.cxx
  Framework/src/runnerUtils.cxx
Owners: @Barthelemy, @knopers8

format
  Framework/include/QualityControl/DiscardParameters.h
Owners: @Barthelemy, @knopers8

Fix example for customParameters in SkeletonCheck
  Modules/Skeleton/src/SkeletonCheck.cxx
Owners: @Barthelemy, @knopers8

O2-4728 Delete any pointers in FIT PP before creating new smart pointers
  Modules/FIT/FDD/src/PostProcTask.cxx
  Modules/FIT/FT0/src/PostProcTask.cxx
  Modules/FIT/FV0/src/PostProcTask.cxx
Owners: @andreasmolander, @afurs, @jotwinow

Update MessagePad.h
  Modules/TOF/include/Base/MessagePad.h
Owners: @njacazio

Update PostProcessHitMap.h
  Modules/TOF/include/TOF/PostProcessHitMap.h
Owners: @njacazio

Update PostProcessHitMap.cxx
  Modules/TOF/src/PostProcessHitMap.cxx
Owners: @njacazio

Update PostProcessHitMap.cxx
  Modules/TOF/src/PostProcessHitMap.cxx
Owners: @njacazio

[QC-1130] Issue with the newest ROOT when loading streamer infos (#2184)
  Framework/CMakeLists.txt
  Framework/include/QualityControl/CcdbDatabase.h
  Framework/src/CcdbDatabase.cxx
  Framework/streamerinfos.root
  Framework/test/testDbFactory.cxx
Owners: @Barthelemy, @knopers8

Fix example for customParameters in SkeletonCheck (#2185)
  Modules/Skeleton/src/SkeletonCheck.cxx
Owners: @Barthelemy, @knopers8

one forgotten map clear
  Modules/FIT/FT0/src/PostProcTask.cxx
Owners: @andreasmolander, @afurs, @jotwinow

UpdateMode
  Modules/TOF/include/TOF/PostProcessHitMap.h
  Modules/TOF/include/TOF/Utils.h
Owners: @njacazio
