Repository AliceO2Group/QualityControl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Barthelemy, @knopers8, @njacazio, @mfasDa, @jokonig, @wiechula, @diana0x0f, @iravasen, @IsakovAD, @martenole, @bazinski, @fjonasALICE, @andreasmolander, @afurs, @jotwinow

fix2
  Modules/TOF/include/Base/MessagePad.h
Owners: @njacazio

fix3
  Modules/TOF/src/PostProcessHitMap.cxx
  Modules/TOF/src/TaskDigits.cxx
Owners: @njacazio

rename DiscardParametesr into LogDiscardParameters
  Framework/include/QualityControl/AggregatorRunnerConfig.h
  Framework/include/QualityControl/CheckRunnerConfig.h
  Framework/include/QualityControl/CommonSpec.h
  Framework/include/QualityControl/LogDiscardParameters.h
  Framework/include/QualityControl/PostProcessingRunnerConfig.h
  Framework/include/QualityControl/QcInfoLogger.h
  Framework/include/QualityControl/TaskRunnerConfig.h
  Framework/include/QualityControl/runnerUtils.h
  Framework/src/CcdbDatabase.cxx
  Framework/src/QcInfoLogger.cxx
  Framework/src/ServiceDiscovery.cxx
  Framework/src/runnerUtils.cxx
  Framework/test/testQcInfoLogger.cxx
  Modules/HMPID/src/HmpidTask.cxx
Owners: @Barthelemy, @knopers8

[QC-1130] Issue with the newest ROOT when loading streamer infos (#2184)
  Framework/CMakeLists.txt
  Framework/include/QualityControl/CcdbDatabase.h
  Framework/src/CcdbDatabase.cxx
  Framework/streamerinfos.root
  Framework/test/testDbFactory.cxx
Owners: @Barthelemy, @knopers8

v1.137.2
  CMakeLists.txt
Owners: @Barthelemy, @knopers8

CPV proposed changes
  Modules/CPV/src/PedestalTask.cxx
  Modules/CPV/src/PhysicsCheck.cxx
  Modules/CPV/src/PhysicsTask.cxx
Owners: @Barthelemy, @knopers8

PHS module review
  Modules/PHOS/CMakeLists.txt
  Modules/PHOS/src/ClusterQcTask.cxx
  Modules/PHOS/src/RawQcTask.cxx
  Modules/PHOS/src/runQCPHOSRaw.cxx
Owners: @Barthelemy, @knopers8

add MIDAggregator
  Modules/MUON/MID/CMakeLists.txt
  Modules/MUON/MID/include/MID/LinkDef.h
  Modules/MUON/MID/include/MID/MIDAggregator.h
  Modules/MUON/MID/src/CalibMQcCheck.cxx
  Modules/MUON/MID/src/CalibQcCheck.cxx
  Modules/MUON/MID/src/ClustQcCheck.cxx
  Modules/MUON/MID/src/DigitsQcCheck.cxx
  Modules/MUON/MID/src/MIDAggregator.cxx
  Modules/MUON/MID/src/TracksQcCheck.cxx
Owners: @Barthelemy, @knopers8

Add MIDAggregator
  Modules/MUON/MID/include/MID/LinkDef.h
  Modules/MUON/MID/src/MIDAggregator.cxx
Owners: @Barthelemy, @knopers8

TRD raw data checks added
  Modules/TRD/CMakeLists.txt
  Modules/TRD/include/TRD/LinkDef.h
  Modules/TRD/include/TRD/RawDataCheck.h
  Modules/TRD/src/RawData.cxx
  Modules/TRD/src/RawDataCheck.cxx
Owners: @martenole, @bazinski

QC-1132 Correct validity in PostProcessingTasks across run restart
  Framework/include/QualityControl/PostProcessingDevice.h
  Framework/include/QualityControl/PostProcessingRunner.h
  Framework/src/PostProcessingDevice.cxx
  Framework/src/PostProcessingRunner.cxx
  Framework/src/runPostProcessing.cxx
  Framework/src/runPostProcessingOCC.cxx
  Framework/src/runnerUtils.cxx
Owners: @Barthelemy, @knopers8

clang format error
  Modules/MUON/MID/include/MID/MIDAggregator.h
  Modules/MUON/MID/src/CalibMQcCheck.cxx
  Modules/MUON/MID/src/CalibQcCheck.cxx
  Modules/MUON/MID/src/DigitsQcCheck.cxx
  Modules/MUON/MID/src/MIDAggregator.cxx
  Modules/MUON/MID/src/TracksQcCheck.cxx
Owners: @Barthelemy, @knopers8

Update PostProcessHitMap.h
  Modules/TOF/include/TOF/PostProcessHitMap.h
Owners: @njacazio

Update PostProcessHitMap.cxx
  Modules/TOF/src/PostProcessHitMap.cxx
Owners: @njacazio

Add missing ENDM in a log in HashDataDescription
  Framework/src/HashDataDescription.cxx
Owners: @Barthelemy, @knopers8

CPV and PHS QC review corrections 2023 (#2188)
  Modules/CPV/src/PedestalTask.cxx
  Modules/CPV/src/PhysicsCheck.cxx
  Modules/CPV/src/PhysicsTask.cxx
  Modules/PHOS/CMakeLists.txt
  Modules/PHOS/src/ClusterQcTask.cxx
  Modules/PHOS/src/RawQcTask.cxx
  Modules/PHOS/src/runQCPHOSRaw.cxx
Owners: @Barthelemy, @knopers8

[QC-1118] Add option to entirely disable the infologger (#2178)
  Framework/include/QualityControl/AggregatorRunnerConfig.h
  Framework/include/QualityControl/CheckRunnerConfig.h
  Framework/include/QualityControl/CommonSpec.h
  Framework/include/QualityControl/DiscardFileParameters.h
  Framework/include/QualityControl/LogDiscardParameters.h
  Framework/include/QualityControl/PostProcessingRunnerConfig.h
  Framework/include/QualityControl/QcInfoLogger.h
  Framework/include/QualityControl/TaskRunnerConfig.h
  Framework/include/QualityControl/runnerUtils.h
  Framework/src/CcdbDatabase.cxx
  Framework/src/InfrastructureSpecReader.cxx
  Framework/src/QcInfoLogger.cxx
  Framework/src/ServiceDiscovery.cxx
  Framework/src/runQC.cxx
  Framework/src/runnerUtils.cxx
  Framework/test/testQcInfoLogger.cxx
  Modules/HMPID/src/HmpidTask.cxx
Owners: @Barthelemy, @knopers8

TOF: change fetching of conditions from the ccdb (#2173)
  Modules/TOF/include/Base/MessagePad.h
  Modules/TOF/include/TOF/PostProcessHitMap.h
  Modules/TOF/src/PostProcessHitMap.cxx
  Modules/TOF/src/TaskDigits.cxx
Owners: @njacazio

Add missing ENDM in a log in HashDataDescription (#2191)
  Framework/src/HashDataDescription.cxx
Owners: @Barthelemy, @knopers8

[BigScreen] changed message severity to Info
  Modules/Common/src/BigScreen.cxx
Owners: @Barthelemy, @knopers8

O2-4728 Delete any pointers in FIT PP before creating new smart pointers (#2186)
  Modules/FIT/FDD/src/PostProcTask.cxx
  Modules/FIT/FT0/src/PostProcTask.cxx
  Modules/FIT/FV0/src/PostProcTask.cxx
Owners: @andreasmolander, @afurs, @jotwinow

Uniform postprocessing task facility in IL
  Framework/include/QualityControl/QcInfoLogger.h
  Framework/src/CheckRunner.cxx
  Framework/src/PostProcessingDevice.cxx
  Framework/src/PostProcessingRunner.cxx
Owners: @Barthelemy, @knopers8

Update DevelopersTips.md
  doc/DevelopersTips.md
Owners: @Barthelemy, @knopers8

[OCONF-781] Doc about templating to include a file
  doc/Advanced.md
Owners: @Barthelemy, @knopers8

Update Advanced.md
  doc/Advanced.md
Owners: @Barthelemy, @knopers8

Uniform postprocessing task facility in IL (#2194)
  Framework/include/QualityControl/QcInfoLogger.h
  Framework/src/CheckRunner.cxx
  Framework/src/PostProcessingDevice.cxx
  Framework/src/PostProcessingRunner.cxx
Owners: @Barthelemy, @knopers8

[BigScreen] changed message severity to Info (#2193)
  Modules/Common/src/BigScreen.cxx
Owners: @Barthelemy, @knopers8

QC-1132 Correct validity in PostProcessingTasks across run restart (#2190)
  Framework/include/QualityControl/PostProcessingDevice.h
  Framework/include/QualityControl/PostProcessingRunner.h
  Framework/src/PostProcessingDevice.cxx
  Framework/src/PostProcessingRunner.cxx
  Framework/src/runPostProcessing.cxx
  Framework/src/runPostProcessingOCC.cxx
  Framework/src/runnerUtils.cxx
Owners: @Barthelemy, @knopers8

TRD raw data checks added (#2168)
  Modules/TRD/CMakeLists.txt
  Modules/TRD/include/TRD/LinkDef.h
  Modules/TRD/include/TRD/RawDataCheck.h
  Modules/TRD/src/RawData.cxx
  Modules/TRD/src/RawDataCheck.cxx
Owners: @martenole, @bazinski

ZDC: Checker: parameter and log changes. Raw: reset plot alignment
  Modules/ZDC/include/ZDC/ZDCRawDataCheck.h
  Modules/ZDC/include/ZDC/ZDCRawDataTask.h
  Modules/ZDC/include/ZDC/ZDCRecDataCheck.h
  Modules/ZDC/include/ZDC/getTestDataDirectory.h
  Modules/ZDC/src/ZDCRawDataCheck.cxx
  Modules/ZDC/src/ZDCRawDataTask.cxx
  Modules/ZDC/src/ZDCRecDataCheck.cxx
Owners: @Barthelemy, @knopers8

Delete Modules/ZDC/include/ZDC/getTestDataDirectory.h
  Modules/ZDC/include/ZDC/getTestDataDirectory.h
Owners: @Barthelemy, @knopers8

ZDC: Checker: parameter and log changes. Raw: reset plot alignment
  Modules/ZDC/include/ZDC/ZDCRawDataCheck.h
  Modules/ZDC/include/ZDC/ZDCRawDataTask.h
  Modules/ZDC/include/ZDC/ZDCRecDataCheck.h
  Modules/ZDC/src/ZDCRawDataCheck.cxx
  Modules/ZDC/src/ZDCRawDataTask.cxx
  Modules/ZDC/src/ZDCRecDataCheck.cxx
Owners: @Barthelemy, @knopers8

Disable selected histograms in the MFT Cluster task in AQC; normalize objects in the Digit and Cluster task to the # of orbits
  Modules/MFT/include/MFT/QcMFTClusterTask.h
  Modules/MFT/include/MFT/QcMFTDigitTask.h
  Modules/MFT/include/MFT/QcMFTTrackTask.h
  Modules/MFT/mft-clusters.json
  Modules/MFT/mft-digits.json
  Modules/MFT/mft-tracks.json
  Modules/MFT/src/QcMFTClusterCheck.cxx
  Modules/MFT/src/QcMFTClusterTask.cxx
  Modules/MFT/src/QcMFTDigitCheck.cxx
  Modules/MFT/src/QcMFTDigitTask.cxx
  Modules/MFT/src/QcMFTTrackTask.cxx
Owners: @diana0x0f

Rename the flag in MFT Cluster task: OnlineQC -> onlineQC
  Modules/MFT/mft-clusters.json
  Modules/MFT/src/QcMFTClusterTask.cxx
Owners: @diana0x0f

MFT: disable selected objects from Cluster task in AQC; normalize objects in Digit and Cluster task to the # orbits (#2198)
  Modules/MFT/include/MFT/QcMFTClusterTask.h
  Modules/MFT/include/MFT/QcMFTDigitTask.h
  Modules/MFT/include/MFT/QcMFTTrackTask.h
  Modules/MFT/mft-clusters.json
  Modules/MFT/mft-digits.json
  Modules/MFT/mft-tracks.json
  Modules/MFT/src/QcMFTClusterCheck.cxx
  Modules/MFT/src/QcMFTClusterTask.cxx
  Modules/MFT/src/QcMFTDigitCheck.cxx
  Modules/MFT/src/QcMFTDigitTask.cxx
  Modules/MFT/src/QcMFTTrackTask.cxx
Owners: @diana0x0f

ZDC: Checker: parameter and log changes. Raw: reset plot alignment (#2197)
  Modules/ZDC/include/ZDC/ZDCRawDataCheck.h
  Modules/ZDC/include/ZDC/ZDCRawDataTask.h
  Modules/ZDC/include/ZDC/ZDCRecDataCheck.h
  Modules/ZDC/src/ZDCRawDataCheck.cxx
  Modules/ZDC/src/ZDCRawDataTask.cxx
  Modules/ZDC/src/ZDCRecDataCheck.cxx
Owners: @Barthelemy, @knopers8

Update doc/Advanced.md
  doc/Advanced.md
Owners: @Barthelemy, @knopers8

MUONS: second part of QC review corrections (#2182)
  Modules/MUON/Common/src/Helpers.cxx
  Modules/MUON/Common/src/TracksTask.cxx
  Modules/MUON/MCH/include/MCH/DecodingCheck.h
  Modules/MUON/MCH/include/MCH/DecodingPostProcessing.h
  Modules/MUON/MCH/include/MCH/DecodingTask.h
  Modules/MUON/MCH/include/MCH/DigitsCheck.h
  Modules/MUON/MCH/include/MCH/DigitsPostProcessing.h
  Modules/MUON/MCH/include/MCH/DigitsTask.h
  Modules/MUON/MCH/include/MCH/PedestalsCheck.h
  Modules/MUON/MCH/include/MCH/PedestalsTask.h
  Modules/MUON/MCH/include/MCH/PreclustersCheck.h
  Modules/MUON/MCH/include/MCH/PreclustersPostProcessing.h
  Modules/MUON/MCH/include/MCH/PreclustersTask.h
  Modules/MUON/MCH/include/MCH/RofsTask.h
  Modules/MUON/MCH/src/DecodingCheck.cxx
  Modules/MUON/MCH/src/DecodingPostProcessing.cxx
  Modules/MUON/MCH/src/DecodingTask.cxx
  Modules/MUON/MCH/src/DigitsCheck.cxx
  Modules/MUON/MCH/src/DigitsPostProcessing.cxx
  Modules/MUON/MCH/src/DigitsTask.cxx
  Modules/MUON/MCH/src/PedestalsCheck.cxx
  Modules/MUON/MCH/src/PedestalsTask.cxx
  Modules/MUON/MCH/src/PreclustersCheck.cxx
  Modules/MUON/MCH/src/PreclustersPostProcessing.cxx
  Modules/MUON/MCH/src/PreclustersTask.cxx
  Modules/MUON/MCH/src/RofsTask.cxx
Owners: @Barthelemy, @knopers8

MIDAggregator (#2189)
  Modules/MUON/MID/CMakeLists.txt
  Modules/MUON/MID/include/MID/LinkDef.h
  Modules/MUON/MID/include/MID/MIDAggregator.h
  Modules/MUON/MID/src/CalibMQcCheck.cxx
  Modules/MUON/MID/src/CalibQcCheck.cxx
  Modules/MUON/MID/src/ClustQcCheck.cxx
  Modules/MUON/MID/src/DigitsQcCheck.cxx
  Modules/MUON/MID/src/MIDAggregator.cxx
  Modules/MUON/MID/src/TracksQcCheck.cxx
Owners: @Barthelemy, @knopers8

1.138.0
  CMakeLists.txt
Owners: @Barthelemy, @knopers8

.github/CODEOWNERS:

# Global access
*       @Barthelemy @knopers8

# Detectors
/Modules/TOF/      @njacazio
/Modules/PID/      @njacazio
/Modules/EMCAL/    @mfasDa @jokonig @Barthelemy @knopers8
/Modules/TPC/      @wiechula
/Modules/MFT/      @diana0x0f
/Modules/ITS/      @iravasen @IsakovAD
/Modules/TRD/      @martenole @bazinski
/Modules/FOCAL/    @mfasDa @fjonasALICE
/Modules/FIT/      @andreasmolander @afurs @jotwinow
