Repository AliceO2Group/QualityControl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Barthelemy, @knopers8, @njacazio, @mfasDa, @jokonig, @wiechula, @tomas-herman, @iravasen, @IsakovAD

[QC-871] Add log rotate parameters and refactor how we pass the discard file options (#1488)
  Framework/basic.json
  Framework/include/QualityControl/AggregatorRunnerConfig.h
  Framework/include/QualityControl/CheckRunnerConfig.h
  Framework/include/QualityControl/CommonSpec.h
  Framework/include/QualityControl/PostProcessingRunnerConfig.h
  Framework/include/QualityControl/QcInfoLogger.h
  Framework/include/QualityControl/TaskRunnerConfig.h
  Framework/src/AggregatorRunner.cxx
  Framework/src/AggregatorRunnerFactory.cxx
  Framework/src/CheckRunner.cxx
  Framework/src/CheckRunnerFactory.cxx
  Framework/src/InfrastructureSpecReader.cxx
  Framework/src/PostProcessingRunner.cxx
  Framework/src/QcInfoLogger.cxx
  Framework/src/TaskRunner.cxx
  Framework/src/TaskRunnerFactory.cxx
  Framework/test/testQcInfoLogger.cxx
  doc/Advanced.md
Owners: @Barthelemy, @knopers8

[QC-871] Add log rotate parameters and refactor how we pass the discard file options (#1488)
  Framework/basic.json
  Framework/include/QualityControl/AggregatorRunnerConfig.h
  Framework/include/QualityControl/CheckRunnerConfig.h
  Framework/include/QualityControl/CommonSpec.h
  Framework/include/QualityControl/PostProcessingRunnerConfig.h
  Framework/include/QualityControl/QcInfoLogger.h
  Framework/include/QualityControl/TaskRunnerConfig.h
  Framework/src/AggregatorRunner.cxx
  Framework/src/AggregatorRunnerFactory.cxx
  Framework/src/CheckRunner.cxx
  Framework/src/CheckRunnerFactory.cxx
  Framework/src/InfrastructureSpecReader.cxx
  Framework/src/PostProcessingRunner.cxx
  Framework/src/QcInfoLogger.cxx
  Framework/src/TaskRunner.cxx
  Framework/src/TaskRunnerFactory.cxx
  Framework/test/testQcInfoLogger.cxx
  doc/Advanced.md
Owners: @Barthelemy, @knopers8

v1.78.1
  CMakeLists.txt
Owners: @Barthelemy, @knopers8

extract DiscardFileParameters to own file
  Framework/include/QualityControl/AggregatorRunnerConfig.h
  Framework/include/QualityControl/CheckRunnerConfig.h
  Framework/include/QualityControl/CommonSpec.h
  Framework/include/QualityControl/DiscardFileParameters.h
  Framework/include/QualityControl/PostProcessingRunnerConfig.h
  Framework/include/QualityControl/QcInfoLogger.h
  Framework/include/QualityControl/TaskRunnerConfig.h
Owners: @Barthelemy, @knopers8

update the rotate parameters
  Framework/src/QcInfoLogger.cxx
Owners: @Barthelemy, @knopers8

ITS - Improved lane status flag tracking (#1496)
  Modules/ITS/include/ITS/ITSFeeTask.h
  Modules/ITS/include/ITS/ITSFhrTask.h
  Modules/ITS/itsFee.json
  Modules/ITS/src/ITSFeeTask.cxx
  Modules/ITS/src/ITSFhrTask.cxx
Owners: @iravasen, @IsakovAD

ITS Decoding Error
  Modules/ITS/CMakeLists.txt
  Modules/ITS/include/ITS/ITSDecodingErrorTask.h
  Modules/ITS/include/ITS/LinkDef.h
  Modules/ITS/itsDecoding.json
  Modules/ITS/src/ITSDecodingErrorTask.cxx
Owners: @iravasen, @IsakovAD

missing include
  Framework/include/QualityControl/DiscardFileParameters.h
Owners: @Barthelemy, @knopers8

format
  Framework/include/QualityControl/DiscardFileParameters.h
Owners: @Barthelemy, @knopers8

v1.78.2
  CMakeLists.txt
Owners: @Barthelemy, @knopers8

Added histogram in Digit Task
  Modules/TRD/include/TRD/DigitsTask.h
  Modules/TRD/src/DigitsTask.cxx
Owners: @Barthelemy, @knopers8

[QC-875] Improve discardfile parameters (#1506)
  Framework/include/QualityControl/AggregatorRunnerConfig.h
  Framework/include/QualityControl/CheckRunnerConfig.h
  Framework/include/QualityControl/CommonSpec.h
  Framework/include/QualityControl/DiscardFileParameters.h
  Framework/include/QualityControl/PostProcessingRunnerConfig.h
  Framework/include/QualityControl/QcInfoLogger.h
  Framework/include/QualityControl/TaskRunnerConfig.h
  Framework/src/QcInfoLogger.cxx
Owners: @Barthelemy, @knopers8

Uniformize the parameter path. Add some logging. Add option to say yes to all. (#1486)
  Framework/script/RepoCleaner/o2-qc-repo-delete-objects-in-runs
  Framework/script/RepoCleaner/o2-qc-repo-delete-time-interval
Owners: @Barthelemy, @knopers8

1.79.0
  CMakeLists.txt
Owners: @Barthelemy, @knopers8

Add more plots to GLO QC
  Modules/GLO/src/ITSTPCMatchingTask.cxx
Owners: @Barthelemy, @knopers8

New itsdecodingerror (#1507)
  Modules/ITS/CMakeLists.txt
  Modules/ITS/include/ITS/ITSDecodingErrorTask.h
  Modules/ITS/include/ITS/LinkDef.h
  Modules/ITS/itsDecoding.json
  Modules/ITS/src/ITSDecodingErrorTask.cxx
Owners: @iravasen, @IsakovAD

[EMCAL-530] Make input bindings configurable
  Modules/EMCAL/include/EMCAL/ClusterTask.h
  Modules/EMCAL/src/ClusterTask.cxx
Owners: @mfasDa, @jokonig

fix for FT0 in TOF task
  Modules/PID/src/TaskFT0TOF.cxx
Owners: @Barthelemy, @knopers8

Add event time histograms TOF vs FT0
  Modules/PID/include/PID/TaskFT0TOF.h
  Modules/PID/src/TaskFT0TOF.cxx
Owners: @Barthelemy, @knopers8

adding FT0 to TOF PID QC
  Modules/PID/include/PID/TaskFT0TOF.h
  Modules/PID/pidft0tof.json
  Modules/PID/src/TaskFT0TOF.cxx
Owners: @Barthelemy, @knopers8

Fix cast of TOF event time
  Modules/PID/src/TaskFT0TOF.cxx
Owners: @Barthelemy, @knopers8

[EMCAL-530] Make input bindings configurable (#1510)
  Modules/EMCAL/include/EMCAL/ClusterTask.h
  Modules/EMCAL/src/ClusterTask.cxx
Owners: @mfasDa, @jokonig

Add TOFvsFT0 event time histograms (#1511)
  Modules/PID/include/PID/TaskFT0TOF.h
  Modules/PID/pidft0tof.json
  Modules/PID/src/TaskFT0TOF.cxx
Owners: @Barthelemy, @knopers8

Added histogram in Digit Task (#1508)
  Modules/TRD/include/TRD/DigitsTask.h
  Modules/TRD/src/DigitsTask.cxx
Owners: @Barthelemy, @knopers8

Do no start server thread if cant connect to Consul
  Framework/include/QualityControl/ServiceDiscovery.h
  Framework/src/ServiceDiscovery.cxx
Owners: @Barthelemy, @knopers8

Remove new line
  Framework/include/QualityControl/ServiceDiscovery.h
Owners: @Barthelemy, @knopers8

Pulse Height addition
  Modules/TRD/CMakeLists.txt
  Modules/TRD/include/TRD/LinkDef.h
  Modules/TRD/include/TRD/PulseHeightPerChamber.h
  Modules/TRD/src/PulseHeightPerChamber.cxx
Owners: @Barthelemy, @knopers8

[MUON] introduced a generic object for forward muon tracks
  Modules/MUON/Common/include/MUONCommon/MuonTrack.h
  Modules/MUON/Common/src/MuonTrack.cxx
Owners: @Barthelemy, @knopers8

[MUON] added common interface class for histogram plotters
  Modules/MUON/Common/include/MUONCommon/HistPlotter.h
  Modules/MUON/Common/src/HistPlotter.cxx
Owners: @Barthelemy, @knopers8

[MUON] added plotter class for matched forward tracks
  Modules/MUON/Common/include/MUONCommon/TrackPlotter.h
  Modules/MUON/Common/src/TrackPlotter.cxx
Owners: @Barthelemy, @knopers8

[MUON] updated task for matched muon tracks
  Modules/MUON/Common/CMakeLists.txt
  Modules/MUON/Common/etc/qc-tracks-mchmid.json
  Modules/MUON/Common/etc/qc-tracks-mftmch.json
  Modules/MUON/Common/etc/qc-tracks-mftmchmid.json
  Modules/MUON/Common/include/MUONCommon/TracksTask.h
  Modules/MUON/Common/src/TracksTask.cxx
Owners: @Barthelemy, @knopers8

[QC-878] Service Discovery: handle not responding Consul (#1512)
  Framework/include/QualityControl/ServiceDiscovery.h
  Framework/src/ServiceDiscovery.cxx
Owners: @Barthelemy, @knopers8

[EMCAL-792] Fix reset of all errors and histo for unknown type
  Modules/EMCAL/include/EMCAL/RawErrorTask.h
  Modules/EMCAL/src/RawErrorTask.cxx
Owners: @mfasDa, @jokonig

MFT: edit track histograms
  Modules/MFT/include/MFT/QcMFTAsyncTask.h
  Modules/MFT/src/QcMFTAsyncTask.cxx
  Modules/MFT/src/QcMFTClusterTask.cxx
  Modules/MFT/src/QcMFTDigitTask.cxx
Owners: @tomas-herman

[MUON] always compute pDCA using MCH track parameters
  Modules/MUON/Common/include/MUONCommon/MuonTrack.h
  Modules/MUON/Common/include/MUONCommon/TrackPlotter.h
  Modules/MUON/Common/src/MuonTrack.cxx
  Modules/MUON/Common/src/TrackPlotter.cxx
Owners: @Barthelemy, @knopers8

MFT: edit track histograms (#1514)
  Modules/MFT/include/MFT/QcMFTAsyncTask.h
  Modules/MFT/src/QcMFTAsyncTask.cxx
  Modules/MFT/src/QcMFTClusterTask.cxx
  Modules/MFT/src/QcMFTDigitTask.cxx
Owners: @tomas-herman

Split vtx and itstpc_matching json
  Modules/GLO/glo-itstpc-mtch-qcmn-epn.json
  Modules/GLO/glo-vtx-qcmn-epn.json
Owners: @Barthelemy, @knopers8

missing QUALITYCONTROL_ROOT must raise proper exception
  Framework/src/runBasic.cxx
Owners: @Barthelemy, @knopers8

Update DevelopersTips.md
  doc/DevelopersTips.md
Owners: @Barthelemy, @knopers8

PHS: fix for TH2SBitmask::merge()
  Modules/PHOS/src/TH2SBitmask.cxx
Owners: @Barthelemy, @knopers8

.github/CODEOWNERS:

# Global access
*       @Barthelemy @knopers8

# Detectors
/Modules/TOF/      @njacazio
/Modules/EMCAL/    @mfasDa @jokonig
/Modules/TPC/      @wiechula
/Modules/MFT/      @tomas-herman
/Modules/ITS/      @iravasen @IsakovAD
