Repository AliceO2Group/QualityControl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Barthelemy, @knopers8, @justonedev1, @ercolessi, @jokonig, @wiechula, @makor, @AlexianL, @iravasen, @IsakovAD, @martenole, @bazinski, @mfasDa, @fjonasALICE, @andreasmolander, @afurs, @jotwinow, @sahilupadhyaya92

[TOF] Change time extraction (#2615)
  Modules/TOF/src/TrendingCalibDiagnostics.cxx
Owners: @ercolessi

update o2-qc-repo-delete-time-interval: add argument to preserve 1 out of N versions.
  Framework/script/RepoCleaner/qcrepocleaner/o2-qc-repo-delete-time-interval
Owners: @Barthelemy, @knopers8, @justonedev1

ITS - long clusters plots for OB (#2614)
  Modules/ITS/include/ITS/ITSClusterTask.h
  Modules/ITS/src/ITSClusterTask.cxx
Owners: @iravasen, @IsakovAD

ITS - long clusters plots for OB (#2614)
  Modules/ITS/include/ITS/ITSClusterTask.h
  Modules/ITS/src/ITSClusterTask.cxx
Owners: @iravasen, @IsakovAD

v1.184.2
  CMakeLists.txt
Owners: @Barthelemy, @knopers8, @justonedev1

[QC-1297] Accept pure json as value instead of a string containing json.
  Framework/src/CustomParameters.cxx
  Framework/test/testCustomParameters.cxx
  Framework/test/testWorkflow.json
Owners: @Barthelemy, @knopers8, @justonedev1

Update CustomParameters.cxx
  Framework/src/CustomParameters.cxx
Owners: @Barthelemy, @knopers8, @justonedev1

expand the test
  Framework/test/testCustomParameters.cxx
Owners: @Barthelemy, @knopers8, @justonedev1

GLO: fix segfault if K0s background fit failed
  Modules/GLO/include/GLO/Helpers.h
Owners: @Barthelemy, @knopers8, @justonedev1

[TOF] Change time extraction (#2615)
  Modules/TOF/src/TrendingCalibDiagnostics.cxx
Owners: @ercolessi

[TOF] Fix bin range in Luminometer (#2613)
  Modules/TOF/src/PostProcessingLuminometer.cxx
Owners: @ercolessi

v1.184.3
  CMakeLists.txt
Owners: @Barthelemy, @knopers8, @justonedev1

.github/CODEOWNERS:

# Global access
*       @Barthelemy @knopers8 @justonedev1

# Detectors
/Modules/TOF/      @ercolessi
/Modules/EMCAL/    @jokonig @Barthelemy @knopers8
/Modules/TPC/      @wiechula @makor
/Modules/MFT/      @AlexianL
/Modules/ITS/      @iravasen @IsakovAD
/Modules/TRD/      @martenole @bazinski
/Modules/FOCAL/    @mfasDa @fjonasALICE
/Modules/FIT/      @andreasmolander @afurs @jotwinow @sahilupadhyaya92
