Repository AliceO2Group/QualityControl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Barthelemy, @knopers8, @njacazio, @mfasDa, @wiechula

Fix format and remove comment
  Framework/src/runMetadataUpdater.cxx
Owners: @Barthelemy, @knopers8

Code to run offline task with Cluster Root file
  Modules/ITS/src/runITSClustersRootFileReader.cxx
Owners: @Barthelemy, @knopers8

Modified CMake file: add new executable
  Modules/ITS/CMakeLists.txt
Owners: @Barthelemy, @knopers8

Fix the help message of o2-qc-metadata-updater (#962)
  Framework/src/runMetadataUpdater.cxx
Owners: @Barthelemy, @knopers8

Swtich to lowercase log levels for new FairLogger (#964)
  Modules/CPV/src/PedestalTask.cxx
  Modules/CPV/src/PhysicsTask.cxx
  Modules/ITS/src/ITSNoisyPixelTask.cxx
  Modules/MUON/MCH/src/PhysicsOccupancyCheck.cxx
  Modules/MUON/MCH/src/PhysicsPreclustersCheck.cxx
  Modules/TOF/src/TOFMatchedTracks.cxx
  Modules/TOF/src/TaskRaw.cxx
  Modules/TPC/src/CheckOfTrendings.cxx
Owners: @Barthelemy, @knopers8, @njacazio, @wiechula

Update in QCChecks + new histogram in QCTrackTask (#959)
  Modules/ITS/include/ITS/ITSClusterTask.h
  Modules/ITS/include/ITS/ITSTrackCheck.h
  Modules/ITS/include/ITS/ITSTrackTask.h
  Modules/ITS/itsCluster.json
  Modules/ITS/itsEPN.json
  Modules/ITS/itsTrack.json
  Modules/ITS/src/ITSClusterCheck.cxx
  Modules/ITS/src/ITSClusterTask.cxx
  Modules/ITS/src/ITSTrackCheck.cxx
  Modules/ITS/src/ITSTrackTask.cxx
Owners: @Barthelemy, @knopers8

1.40.0
  CMakeLists.txt
Owners: @Barthelemy, @knopers8

Increase timeout for ccdb database test
  Framework/CMakeLists.txt
Owners: @Barthelemy, @knopers8

Increase timeout for ccdb database test (#967)
  Framework/CMakeLists.txt
Owners: @Barthelemy, @knopers8

Increase timeout for ccdb database test (#967)
  Framework/CMakeLists.txt
Owners: @Barthelemy, @knopers8

v1.40.1
  CMakeLists.txt
Owners: @Barthelemy, @knopers8

[QC-707] Open ROOT file sink only for the time it is needed
  Framework/include/QualityControl/RootFileSink.h
  Framework/src/RootFileSink.cxx
Owners: @Barthelemy, @knopers8

fix warning
  Framework/src/RootFileSink.cxx
Owners: @Barthelemy, @knopers8

Actually close the file after correct write
  Framework/src/RootFileSink.cxx
Owners: @Barthelemy, @knopers8

Use merge base of PR HEAD and current master for formatting
  .github/workflows/format.yml
Owners: @Barthelemy, @knopers8

restore decoding error histo if requested (default=no)
  Modules/TOF/include/TOF/TaskDigits.h
  Modules/TOF/src/TaskDigits.cxx
  Modules/TOF/tofdigits.json
Owners: @njacazio

restore decoding error histo if requested (default=no) (#970)
  Modules/TOF/include/TOF/TaskDigits.h
  Modules/TOF/src/TaskDigits.cxx
  Modules/TOF/tofdigits.json
Owners: @njacazio

Fix for cases in which sourceID is -1
  Modules/GLO/src/VertexingQcTask.cxx
Owners: @Barthelemy, @knopers8

Use merge base of PR HEAD and current master for formatting (#969)
  .github/workflows/format.yml
Owners: @Barthelemy, @knopers8

Fix for cases in which sourceID is -1 (#971)
  Modules/GLO/src/VertexingQcTask.cxx
Owners: @Barthelemy, @knopers8

Renaming MFT reco task -> QcMFTRecoTask
  Modules/MFT/CMakeLists.txt
  Modules/MFT/include/MFT/LinkDef.h
  Modules/MFT/include/MFT/QcMFTRecoTask.h
  Modules/MFT/qc-mft-reco.json
  Modules/MFT/qc-mft-reco_direct.json
  Modules/MFT/src/QcMFTRecoTask.cxx
Owners: @Barthelemy, @knopers8

Expect ptree as input in InfrastructureGenerator
  Framework/include/QualityControl/InfrastructureGenerator.h
  Framework/src/InfrastructureGenerator.cxx
  Framework/src/runAdvanced.cxx
  Framework/src/runBasic.cxx
  Framework/src/runQC.cxx
  Framework/test/testCheckWorkflow.cxx
  Framework/test/testInfrastructureGenerator.cxx
  Framework/test/testWorkflow.cxx
  Modules/ITS/src/runITS.cxx
  Modules/PHOS/src/runQCPHOSRaw.cxx
Owners: @Barthelemy, @knopers8

MFT: Change of visualisation of MFT RU data. New summary histograms. Deleting of old histograms. New checker messages.
  Modules/MFT/include/MFT/QcMFTReadoutCheck.h
  Modules/MFT/include/MFT/QcMFTReadoutTask.h
  Modules/MFT/qc-mft-readout.json
  Modules/MFT/src/QcMFTReadoutCheck.cxx
  Modules/MFT/src/QcMFTReadoutTask.cxx
Owners: @Barthelemy, @knopers8

Clang
  Modules/MFT/include/MFT/QcMFTReadoutTask.h
  Modules/MFT/src/QcMFTReadoutCheck.cxx
  Modules/MFT/src/QcMFTReadoutTask.cxx
Owners: @Barthelemy, @knopers8

Improvements on QcMFTAsyncTask
  Modules/MFT/CMakeLists.txt
  Modules/MFT/include/MFT/LinkDef.h
  Modules/MFT/include/MFT/QcMFTAsyncTask.h
  Modules/MFT/qc-mft-async.json
  Modules/MFT/qc-mft-async_direct.json
  Modules/MFT/src/QcMFTAsyncTask.cxx
  Modules/MFT/src/QcMFTRecoTask.cxx
Owners: @Barthelemy, @knopers8

Adding histogram for Eta-Phi track distribution
  Modules/MFT/include/MFT/QcMFTAsyncTask.h
  Modules/MFT/src/QcMFTAsyncTask.cxx
Owners: @Barthelemy, @knopers8

Fix of format
  Modules/MFT/src/QcMFTReadoutCheck.cxx
Owners: @Barthelemy, @knopers8

Shortening of task name in json to avoid warning in infologger.
  Modules/MFT/qc-mft-readout.json
Owners: @Barthelemy, @knopers8

trigger CI
  Framework/src/RootFileSink.cxx
Owners: @Barthelemy, @knopers8

.github/CODEOWNERS:

# Global access
*       @Barthelemy @knopers8

# Detectors
/Modules/TOF/      @njacazio
/Modules/EMCAL/    @mfasDa
/Modules/TPC/      @wiechula
