Repository AliceO2Group/QualityControl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Barthelemy, @knopers8, @njacazio, @mfasDa, @jokonig, @wiechula, @diana0x0f, @iravasen, @IsakovAD, @martenole, @bazinski, @fjonasALICE, @andreasmolander, @afurs, @jotwinow

Histograms rebin RecPointsTask
  Modules/FIT/FDD/src/RecPointsQcTask.cxx
Owners: @andreasmolander, @afurs, @jotwinow

merging TracketCheck and TrackletCountCheck
  Modules/TRD/include/TRD/TrackletCountCheck.h
  Modules/TRD/src/TrackletCountCheck.cxx
Owners: @martenole, @bazinski

Switch to turn off uncessary histos for async
  Modules/TPC/src/PID.cxx
  Modules/TPC/src/Tracks.cxx
Owners: @wiechula

TPC: Fix crash of ClusterVisualizer Start Stop Start
  Modules/TPC/src/ClusterVisualizer.cxx
Owners: @wiechula

[OCONF-781] Doc about templating to include a file (#2195)
  doc/Advanced.md
Owners: @Barthelemy, @knopers8

memory improvements and new normalization for distribution of number of clusters per track
  Modules/ITS/include/ITS/ITSClusterTask.h
  Modules/ITS/include/ITS/ITSTrackTask.h
  Modules/ITS/src/ITSClusterCheck.cxx
  Modules/ITS/src/ITSClusterTask.cxx
  Modules/ITS/src/ITSTrackCheck.cxx
  Modules/ITS/src/ITSTrackTask.cxx
Owners: @iravasen, @IsakovAD

TPC: Fix crash of ClusterVisualizer Start Stop Start
  Modules/TPC/src/ClusterVisualizer.cxx
Owners: @wiechula

removed debug comments
  Modules/ITS/src/ITSClusterTask.cxx
Owners: @iravasen, @IsakovAD

add trending and check for input and class ratios + configurable parameters for check
  Modules/CTP/include/CTP/RawDataQcTask.h
  Modules/CTP/include/CTP/RawDataReaderCheck.h
  Modules/CTP/src/CTPTrendingTask.cxx
  Modules/CTP/src/RawDataQcTask.cxx
  Modules/CTP/src/RawDataReaderCheck.cxx
  Modules/CTP/src/ctpTrending.json
  Modules/CTP/src/qc-ctp.json
Owners: @Barthelemy, @knopers8

Fix creating triggers by using the activity from the driver
  Framework/src/PostProcessingRunner.cxx
Owners: @Barthelemy, @knopers8

changed CheckParameter reading method
  Modules/TRD/src/TrackletCountCheck.cxx
Owners: @martenole, @bazinski

fixed bug with getClusterCoordinates: wrongly used was producing crashes with cluster id 2047 which is an InvalidPattern
  Modules/ITS/src/ITSClusterTask.cxx
Owners: @iravasen, @IsakovAD

get locC only if needed
  Modules/ITS/src/ITSClusterTask.cxx
Owners: @iravasen, @IsakovAD

Switch to turn off uncessary histos for async
  Modules/TPC/src/PID.cxx
  Modules/TPC/src/Tracks.cxx
Owners: @wiechula

[GLO] removed obsolete plots MeanVertexPostProcessing
  Modules/GLO/glo-mean-vtx-post-processing.json
  Modules/GLO/include/GLO/MeanVertexPostProcessing.h
  Modules/GLO/src/MeanVertexPostProcessing.cxx
Owners: @Barthelemy, @knopers8

[GLO] simplified custom graph class
  Modules/GLO/include/GLO/MeanVertexPostProcessing.h
  Modules/GLO/src/MeanVertexPostProcessing.cxx
Owners: @Barthelemy, @knopers8

[GLO] adapted code for START/STOP/START
  Modules/GLO/src/MeanVertexPostProcessing.cxx
Owners: @Barthelemy, @knopers8

[GLO] minor code and logging improvements
  Modules/GLO/glo-mean-vtx-post-processing.json
  Modules/GLO/src/MeanVertexPostProcessing.cxx
Owners: @Barthelemy, @knopers8

[GLO] added MeanVertex checker class
  Modules/GLO/CMakeLists.txt
  Modules/GLO/glo-mean-vtx-post-processing.json
  Modules/GLO/include/GLO/LinkDef.h
  Modules/GLO/include/GLO/MeanVertexCheck.h
  Modules/GLO/src/MeanVertexCheck.cxx
Owners: @Barthelemy, @knopers8

[BigScreen] added separate BigScreenCanvas object
  Modules/Common/CMakeLists.txt
  Modules/Common/include/Common/BigScreenCanvas.h
  Modules/Common/src/BigScreenCanvas.cxx
Owners: @Barthelemy, @knopers8

[BigScreen] use external BigScreenCanvas
  Modules/Common/include/Common/BigScreen.h
  Modules/Common/src/BigScreen.cxx
Owners: @Barthelemy, @knopers8

[BigScreen] use the extendedTaskParameters for configuration
  Modules/Common/include/Common/BigScreen.h
  Modules/Common/include/Common/BigScreenConfig.h
  Modules/Common/src/BigScreen.cxx
  Modules/Common/src/BigScreenConfig.cxx
Owners: @Barthelemy, @knopers8

[BigScreen] updated documentation
  doc/PostProcessing.md
Owners: @Barthelemy, @knopers8

Fix creating triggers by using the activity from the driver (#2205)
  Framework/src/PostProcessingRunner.cxx
Owners: @Barthelemy, @knopers8

v1.138.1
  CMakeLists.txt
Owners: @Barthelemy, @knopers8

Fix creating triggers by using the activity from the driver (#2205)
  Framework/src/PostProcessingRunner.cxx
Owners: @Barthelemy, @knopers8

Histograms rebin RecPointsTask (#2200)
  Modules/FIT/FDD/src/RecPointsQcTask.cxx
Owners: @andreasmolander, @afurs, @jotwinow

fix assigning correct activity to objects created by pp tasks
  Framework/src/PostProcessingRunner.cxx
Owners: @Barthelemy, @knopers8

fix assigning correct activity to objects created by pp tasks (#2207)
  Framework/src/PostProcessingRunner.cxx
Owners: @Barthelemy, @knopers8

v1.138.2
  CMakeLists.txt
Owners: @Barthelemy, @knopers8

fix assigning correct activity to objects created by pp tasks (#2207)
  Framework/src/PostProcessingRunner.cxx
Owners: @Barthelemy, @knopers8

ITS: memory improvements and new normalization (#2203)
  Modules/ITS/include/ITS/ITSClusterTask.h
  Modules/ITS/include/ITS/ITSTrackTask.h
  Modules/ITS/src/ITSClusterCheck.cxx
  Modules/ITS/src/ITSClusterTask.cxx
  Modules/ITS/src/ITSTrackCheck.cxx
  Modules/ITS/src/ITSTrackTask.cxx
Owners: @iravasen, @IsakovAD

[BigScreen] implemented PR review comments
  Modules/Common/include/Common/BigScreen.h
  Modules/Common/include/Common/BigScreenCanvas.h
  Modules/Common/src/BigScreen.cxx
  Modules/Common/src/BigScreenCanvas.cxx
  Modules/Common/src/BigScreenConfig.cxx
Owners: @Barthelemy, @knopers8

vdrift-trend
  Modules/TRD/CMakeLists.txt
  Modules/TRD/calibParamTRD.json
  Modules/TRD/include/TRD/CalibReductorTRD.h
  Modules/TRD/include/TRD/LinkDef.h
  Modules/TRD/src/CalibReductorTRD.cxx
Owners: @martenole, @bazinski

exb-trend
  Modules/TRD/calibParamTRD.json
  Modules/TRD/include/TRD/CalibReductorTRD.h
  Modules/TRD/src/CalibReductorTRD.cxx
Owners: @martenole, @bazinski

2Dvdrift_trend
  Modules/TRD/calibParamTRD.json
Owners: @martenole, @bazinski

added 2d plot
  Modules/TRD/calibParamTRD.json
  Modules/TRD/include/TRD/CalibReductorTRD.h
  Modules/TRD/src/CalibReductorTRD.cxx
Owners: @martenole, @bazinski

merge_conflict
  Modules/TRD/CMakeLists.txt
Owners: @martenole, @bazinski

TOF PID: configure axis binning
  Modules/PID/include/PID/TaskFT0TOF.h
  Modules/PID/src/TaskFT0TOF.cxx
Owners: @njacazio

GLO: updated BigScreen task (#2192)
  Modules/Common/CMakeLists.txt
  Modules/Common/include/Common/BigScreen.h
  Modules/Common/include/Common/BigScreenCanvas.h
  Modules/Common/include/Common/BigScreenConfig.h
  Modules/Common/src/BigScreen.cxx
  Modules/Common/src/BigScreenCanvas.cxx
  Modules/Common/src/BigScreenConfig.cxx
  doc/PostProcessing.md
Owners: @Barthelemy, @knopers8

.github/CODEOWNERS:

# Global access
*       @Barthelemy @knopers8

# Detectors
/Modules/TOF/      @njacazio
/Modules/PID/      @njacazio
/Modules/EMCAL/    @mfasDa @jokonig @Barthelemy @knopers8
/Modules/TPC/      @wiechula
/Modules/MFT/      @diana0x0f
/Modules/ITS/      @iravasen @IsakovAD
/Modules/TRD/      @martenole @bazinski
/Modules/FOCAL/    @mfasDa @fjonasALICE
/Modules/FIT/      @andreasmolander @afurs @jotwinow
