Repository AliceO2Group/QualityControl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Barthelemy, @knopers8, @justonedev1, @ercolessi, @jokonig, @wiechula, @makor, @AlexianL, @iravasen, @IsakovAD, @martenole, @bazinski, @mfasDa, @fjonasALICE, @andreasmolander, @afurs, @jotwinow, @sahilupadhyaya92

1.182.0
  CMakeLists.txt
Owners: @Barthelemy, @knopers8, @justonedev1

reworded docs and removed generic container from QCInputs
  Framework/include/QualityControl/CheckInterface.h
  Framework/include/QualityControl/QCInputs.h
  Framework/include/QualityControl/QCInputs.inl
  Framework/include/QualityControl/QCInputsAdapters.h
  Framework/include/QualityControl/QCInputsAdapters.inl
  Framework/src/QCInputsAdapters.cxx
  Framework/test/testQCInputs.cxx
Owners: @Barthelemy, @knopers8, @justonedev1

[QC-1298] Extensible interface for accessing QC data sources (#2589)
  Framework/CMakeLists.txt
  Framework/include/QualityControl/AggregatorInterface.h
  Framework/include/QualityControl/CheckInterface.h
  Framework/include/QualityControl/QCInputs.h
  Framework/include/QualityControl/QCInputs.inl
  Framework/include/QualityControl/QCInputsAdapters.h
  Framework/include/QualityControl/QCInputsAdapters.inl
  Framework/include/QualityControl/QCInputsFactory.h
  Framework/src/AggregatorInterface.cxx
  Framework/src/CheckInterface.cxx
  Framework/src/QCInputsAdapters.cxx
  Framework/src/QCInputsFactory.cxx
  Framework/test/testQCInputs.cxx
  Modules/Skeleton/include/Skeleton/SkeletonAggregator.h
  Modules/Skeleton/include/Skeleton/SkeletonCheck.h
  Modules/Skeleton/src/SkeletonAggregator.cxx
  Modules/Skeleton/src/SkeletonCheck.cxx
Owners: @Barthelemy, @knopers8, @justonedev1

ITS - Fix position on chip status triangles
  Modules/ITS/src/ITSChipStatusTask.cxx
Owners: @iravasen, @IsakovAD

fixing another typo
  Modules/ITS/src/ITSFeeTask.cxx
Owners: @iravasen, @IsakovAD

Nv fix (#2606)
  Modules/ITS/src/ITSChipStatusTask.cxx
  Modules/ITS/src/ITSFeeTask.cxx
Owners: @iravasen, @IsakovAD

Nv fix (#2606)
  Modules/ITS/src/ITSChipStatusTask.cxx
  Modules/ITS/src/ITSFeeTask.cxx
Owners: @iravasen, @IsakovAD

v1.182.1
  CMakeLists.txt
Owners: @Barthelemy, @knopers8, @justonedev1

v1.181.1
  CMakeLists.txt
Owners: @Barthelemy, @knopers8, @justonedev1

Nv fix (#2606)
  Modules/ITS/src/ITSChipStatusTask.cxx
  Modules/ITS/src/ITSFeeTask.cxx
Owners: @iravasen, @IsakovAD

ITS/Calibration: better handling of wrong run types and Pixel scans (#2530)
  Modules/ITS/include/ITS/ITSThresholdCalibrationTask.h
  Modules/ITS/src/ITSThresholdCalibrationTask.cxx
Owners: @iravasen, @IsakovAD

1.183.0
  CMakeLists.txt
Owners: @Barthelemy, @knopers8, @justonedev1

GLO: actual check if signal fit converged
  Modules/GLO/include/GLO/Helpers.h
  Modules/GLO/src/ITSTPCmatchingCheck.cxx
Owners: @Barthelemy, @knopers8, @justonedev1

[O2-5887] Avoid empty URLs
  Framework/test/testCheck.cxx
  Framework/test/testTaskInterface.cxx
  Modules/Example/test/testFactory.cxx
Owners: @Barthelemy, @knopers8, @justonedev1

[O2-5887] Avoid empty URLs (#2608)
  Framework/test/testCheck.cxx
  Framework/test/testTaskInterface.cxx
  Modules/Example/test/testFactory.cxx
Owners: @Barthelemy, @knopers8, @justonedev1

[QC-1297] CustomParameters support for nested configuration
  Framework/include/QualityControl/CustomParameters.h
  Framework/src/CustomParameters.cxx
  Framework/test/testCustomParameters.cxx
Owners: @Barthelemy, @knopers8, @justonedev1

fix the case where it is not parsable.
  Framework/src/CustomParameters.cxx
  Framework/test/testCustomParameters.cxx
Owners: @Barthelemy, @knopers8, @justonedev1

fix in tof digit task
  Modules/TOF/src/TaskDigits.cxx
Owners: @ercolessi

fix in tof digit task (#2610)
  Modules/TOF/src/TaskDigits.cxx
Owners: @ercolessi

add DecError corrections in TOF lumi post proc.
  Modules/TOF/include/TOF/PostProcessingLuminometer.h
  Modules/TOF/src/PostProcessingLuminometer.cxx
Owners: @ercolessi

add DecError corrections in TOF lumi post proc. (#2611)
  Modules/TOF/include/TOF/PostProcessingLuminometer.h
  Modules/TOF/src/PostProcessingLuminometer.cxx
Owners: @ercolessi

1.184.0
  CMakeLists.txt
Owners: @Barthelemy, @knopers8, @justonedev1

[MUON] process only best matching candidates
  Modules/MUON/Common/src/TrackPlotter.cxx
Owners: @Barthelemy, @knopers8, @justonedev1

[MUON] clang formatting
  Modules/MUON/Common/src/TrackPlotter.cxx
Owners: @Barthelemy, @knopers8, @justonedev1

GLO: actual check if signal fit converged (#2607)
  Modules/GLO/include/GLO/Helpers.h
  Modules/GLO/src/ITSTPCmatchingCheck.cxx
Owners: @Barthelemy, @knopers8, @justonedev1

MUON: process only best matching candidates (#2612)
  Modules/MUON/Common/src/TrackPlotter.cxx
Owners: @Barthelemy, @knopers8, @justonedev1

v1.184.1
  CMakeLists.txt
Owners: @Barthelemy, @knopers8, @justonedev1

GLO: actual check if signal fit converged (#2607)
  Modules/GLO/include/GLO/Helpers.h
  Modules/GLO/src/ITSTPCmatchingCheck.cxx
Owners: @Barthelemy, @knopers8, @justonedev1

MUON: process only best matching candidates (#2612)
  Modules/MUON/Common/src/TrackPlotter.cxx
Owners: @Barthelemy, @knopers8, @justonedev1

adopt QcInputs in LateTaskInterface::process
  Framework/include/QualityControl/LateTaskInterface.h
  Framework/src/LateTaskRunner.cxx
  Modules/Skeleton/include/Skeleton/SkeletonLateTask.h
  Modules/Skeleton/src/SkeletonLateTask.cxx
Owners: @Barthelemy, @knopers8, @justonedev1

WIP QC-1251 possible solution for postprocessing without accessing DB
  Framework/basic-latetask-async.json
  Framework/basic-latetask.json
  Framework/include/QualityControl/LateTaskInterface.h
Owners: @Barthelemy, @knopers8, @justonedev1

QC-1293 Working prototype of late tasks
  Framework/CMakeLists.txt
  Framework/basic.json
  Framework/include/QualityControl/Actor.h
  Framework/include/QualityControl/DataSourceSpec.h
  Framework/include/QualityControl/InfrastructureGenerator.h
  Framework/include/QualityControl/InfrastructureSpec.h
  Framework/include/QualityControl/InfrastructureSpecReader.h
  Framework/include/QualityControl/LateTaskFactory.h
  Framework/include/QualityControl/LateTaskInterface.h
  Framework/include/QualityControl/LateTaskRunner.h
  Framework/include/QualityControl/LateTaskRunnerConfig.h
  Framework/include/QualityControl/LateTaskRunnerFactory.h
  Framework/include/QualityControl/LateTaskSpec.h
  Framework/include/QualityControl/LinkDef.h
  Framework/include/QualityControl/TaskFactory.h
  Framework/include/QualityControl/TaskRunnerFactory.h
  Framework/src/Check.cxx
  Framework/src/InfrastructureGenerator.cxx
  Framework/src/InfrastructureSpecReader.cxx
  Framework/src/LateTaskInterface.cxx
  Framework/src/LateTaskRunner.cxx
  Framework/src/LateTaskRunnerFactory.cxx
  Modules/Skeleton/CMakeLists.txt
  Modules/Skeleton/include/Skeleton/LinkDef.h
  Modules/Skeleton/include/Skeleton/SkeletonLateTask.h
  Modules/Skeleton/src/SkeletonLateTask.cxx
  doc/Framework.md
Owners: @Barthelemy, @knopers8, @justonedev1

[TOF] Fix bin range in Luminometer
  Modules/TOF/src/PostProcessingLuminometer.cxx
Owners: @ercolessi

[TOF] Fix bin range in Luminometer (#2613)
  Modules/TOF/src/PostProcessingLuminometer.cxx
Owners: @ercolessi

ITS - long clusters plots for OB
  Modules/ITS/include/ITS/ITSClusterTask.h
  Modules/ITS/src/ITSClusterTask.cxx
Owners: @iravasen, @IsakovAD

small fix
  Modules/ITS/src/ITSClusterTask.cxx
Owners: @iravasen, @IsakovAD

clang-format
  Framework/include/QualityControl/CustomParameters.h
  Framework/src/CustomParameters.cxx
Owners: @Barthelemy, @knopers8, @justonedev1

dummy commit to retrigger unrelated failed check
  Modules/ITS/src/ITSClusterTask.cxx
Owners: @iravasen, @IsakovAD

[QC-1297] CustomParameters support for nested configuration (#2609)
  Framework/include/QualityControl/CustomParameters.h
  Framework/src/CustomParameters.cxx
  Framework/test/testCustomParameters.cxx
Owners: @Barthelemy, @knopers8, @justonedev1

[TOF] Change time extraction
  Modules/TOF/src/TrendingCalibDiagnostics.cxx
Owners: @ercolessi

.github/CODEOWNERS:

# Global access
*       @Barthelemy @knopers8 @justonedev1

# Detectors
/Modules/TOF/      @ercolessi
/Modules/EMCAL/    @jokonig @Barthelemy @knopers8
/Modules/TPC/      @wiechula @makor
/Modules/MFT/      @AlexianL
/Modules/ITS/      @iravasen @IsakovAD
/Modules/TRD/      @martenole @bazinski
/Modules/FOCAL/    @mfasDa @fjonasALICE
/Modules/FIT/      @andreasmolander @afurs @jotwinow @sahilupadhyaya92
